# License terms and conditions:
# https://www.gluu.org/license/enterprise-edition/
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "persistence.fullname" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
{{ include "persistence.labels" . | indent 4 }}
spec:
  template:
    metadata:
      name: {{ include "persistence.name" . }}
      labels:
        app: {{ include "persistence.name" . }}
    spec:
      restartPolicy: Never
      containers:
      - name: {{ include "persistence.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        envFrom:
        - configMapRef:
            name: {{ include "persistence.fullname" . }}
        {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid")  }}
        volumeMounts:
          - name: cb-pass
            mountPath: "/etc/gluu/conf/couchbase_password"
            subPath: couchbase_password
          - name: cb-crt 
            mountPath: "/etc/certs/couchbase.crt"
            subPath: couchbase.crt
        {{- end }}
      {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid")  }}
      volumes:
        - name: cb-pass
          secret:
            secretName: {{ include "persistence.name" . }}-pass
        - name: cb-crt 
          secret:
            secretName: {{ include "persistence.name" . }}-crt
      {{- end }}
