# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "oxtrust.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "oxtrust.labels" . | indent 4 }}
spec:
  serviceName: oxtrust
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ include "oxtrust.name" . }}
      APP_NAME: oxtrust
  template:
    metadata:
      labels: 
        app: {{ include "oxtrust.name" . }}
        APP_NAME: oxtrust
      {{- if .Values.global.istio.ingress }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
    spec:
    {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      containers:
      - name: {{ include "oxtrust.name" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        {{- if and (eq .Values.global.isDomainRegistered "false") (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        command:
          - /bin/sh
          - -c
          - |
              /usr/bin/python3 /scripts/updatelbip.py &
              /app/scripts/entrypoint.sh
        {{- end }}
        {{- if or (eq .Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq .Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
        resources: {}
        {{- else if .Values.global.cloud.testEnviroment }}
        resources: {}
        {{- else }}
        resources:
{{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        ports:
        - name: {{ .Values.service.name }}
          containerPort: {{ .Values.service.port }}
        env:
        - name: GLUU_JAVA_OPTIONS
          value: "-XshowSettings:vm -XX:MaxRAMPercentage=80 -DCN_IDP_HOST=http://oxshibboleth:8080"
        {{- include "oxtrust.usr-envs" . | indent 8 }}
        {{- include "oxtrust.usr-secret-envs" . | indent 8 }}
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-config-cm
        {{ if .Values.global.usrEnvs.secret }}
        - secretRef:
            name: {{ .Release.Name }}-global-user-custom-envs
        {{- end }}
        {{ if .Values.global.usrEnvs.normal }}
        - configMapRef:
            name: {{ .Release.Name }}-global-user-custom-envs
        {{- end }}
        volumeMounts:
        {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 10 }}
        {{- end }}
        {{- if eq .Values.global.gluuPersistenceType "sql" }}
          - name: sql-pass
            mountPath: "/etc/gluu/conf/sql_password"
            subPath: sql_password
        {{- end }}
        {{ if or (eq .Values.global.configSecretAdapter "google") (eq .Values.global.gluuPersistenceType "spanner") }}
          - mountPath: {{ .Values.global.cnGoogleApplicationCredentials }}
            name: google-sa
            subPath: google-credentials.json
        {{- end }}
        {{- if .Values.global.jackrabbit.enabled }}
          - name: gluu-jackrabbit-admin-pass
            mountPath: /etc/gluu/conf/jackrabbit_admin_password
            subPath: jackrabbit_admin_password
        {{- end }}
        {{- if and (eq .Values.global.isDomainRegistered "false") (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
          - name: {{ include "oxtrust.fullname" .}}-updatelbip
            mountPath: /scripts
        {{- end }}
        {{- if or ( eq .Values.global.gluuPersistenceType "couchbase" ) ( eq .Values.global.gluuPersistenceType "hybrid" ) }}
          - name: cb-pass
            mountPath: "/etc/gluu/conf/couchbase_password"
            subPath: couchbase_password
          {{- if not .Values.global.istio.enabled }}
          - name: cb-crt
            mountPath: "/etc/certs/couchbase.crt"
            subPath: couchbase.crt
          {{- end }}
        {{- end }}
        livenessProbe:
{{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
{{- toYaml .Values.readinessProbe | nindent 10 }}
      volumes:
      {{- with .Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if eq .Values.global.gluuPersistenceType "sql" }}
        - name: sql-pass
          secret:
            secretName: {{ .Release.Name }}-sql-pass
        {{- end }}
      {{ if or (eq .Values.global.configSecretAdapter "google") (eq .Values.global.gluuPersistenceType "spanner") }}
        - name: google-sa
          secret:
            secretName: {{ .Release.Name }}-google-sa
      {{- end }}
      {{- if .Values.global.jackrabbit.enabled }}
        - name: gluu-jackrabbit-admin-pass
          secret:
            secretName: gluu-jackrabbit-admin-pass
      {{- end }}
      {{- if and (eq .Values.global.isDomainRegistered "false") (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        - name: {{ include "oxtrust.fullname" .}}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
      {{- end }}
      {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid")  }}
        - name: cb-pass
          secret:
            secretName: {{ .Release.Name }}-cb-pass
        {{- if not .Values.global.istio.enabled }}
        - name: cb-crt 
          secret:
            secretName: {{ .Release.Name }}-cb-crt
        {{- end }}
      {{- end }}
      {{- if eq .Values.global.isDomainRegistered "false" }}
      hostAliases:
      - ip: {{ .Values.global.lbIp }}
        hostnames:
        - {{ .Values.global.domain }}
      {{- end }}
