{% macro text(field) %}
  <div class="form-group">
    {{ field.label(class_="col-form-label") }}
    {{ field(class_="form-control col-sm-5") }}
    <small class="form-text text-muted">{{ field.description }}</small>
    <div class="feedback"></div>
  </div>
{% endmacro %}

{% macro radio(field) %}

  <div class="form-group">
    <label class="col-form-label">{{ field.label }}</label>
    <div class="col-sm-9">
      {% for choice in field %}
      <div class="custom-control custom-radio custom-control-inline">
        {{ choice(class_="custom-control-input") }}
        {{ choice.label(class_="custom-control-label") }}
      </div>
      {% endfor %}
    </div>
    <small class="form-text text-muted">{{ field.description }}</small>
    <div class="feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro single_radio(field) %}
<div class="form-check">
    {{ field(class_="form-check-input") }}
    {{ field.label(class_="form-check-label") }}

  </div>
{% endmacro %}

{% macro password(field) %}
  <div class="form-group">
    {{ field.label(class_="col-form-label") }}
    {{ field(class_="form-control col-sm-5") }}
  </div>
{% endmacro %}

{% macro email(field) %}
  <div class="form-group">
    {{ field.label(class_="col-form-label") }}
    {{ field(class_="form-control col-sm-5") }}
  </div>
{% endmacro %}

{% macro select(title, name, options) %}
<div class="form-group">
    <label class="col-form-label col-sm-3" for="{{ name.replace('_', '-') }}">{{ title }}</label>
    <div class="col-sm-5">
      <select class="custom-select">
        {% for k, v in options %}
          <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}

{% macro checkbox(title, name) %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="{{ name }}" class="custom-control-input" id="{{ name.replace('_', '-') }}">
    <label class="custom-control-label" for="{{ name.replace('_', '-') }}">{{ title }}</label>
  </div>
{% endmacro %}

{% macro hidden(name, value) %}
  <input type="hidden" name="{{ name }}" value="{{ value }}" id="{{ name.replace('_', '-') }}">
{% endmacro %}
