{% macro text(title, name, value) %}
  <div class="form-group">
    <label class="col-form-label col-sm-3" for="{{ name.replace('_', '-') }}">{{ title }}</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="{{ name }}" id="name.replace('_', '-') }}" value="{{ value }}">
    </div>
  </div>
{% endmacro %}

{% macro yes_no(title, name, value) %}
<div class="form-group">
        <label class="col-form-label col-sm-3">{{ title }}</label>
        <div class="col-sm-9">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="{{ name.replace('_', '-') }}-yes" name="{{ name }}" value="Y" class="custom-control-input" {{ 'checked' if value == 'Y' else '' }}>
            <label class="custom-control-label" for="{{ name.replace('_', '-') }}-yes">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="{{ name.replace('_', '-') }}-no" name="{{ name }}" value="N" class="custom-control-input" {{ 'checked' if value == 'N' else '' }}>
            <label class="custom-control-label" for="{{ name.replace('_', '-') }}-no">No</label>
          </div>
        </div>
      </div>
{% endmacro %}

{% macro radio(label, id, name, value, checked=False) %}
  <div class="form-check">
    <input class="form-check-input" type="radio" name="{{ name }}" id="{{ id }}" value="{{ value }}" {{ 'checked' if checked else '' }} >
    <label class="form-check-label" for="{{ id }}">
      {{ label }}
    </label>
  </div>
{% endmacro %}

{% macro password(title, name) %}
  <div class="form-group">
    <label class="col-form-label col-sm-3" for="{{ name.replace('_', '-') }}">{{ title }}</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="{{ name }}" id="name.replace('_', '-') }}"">
    </div>
  </div>
{% endmacro %}

{% macro email(title, name) %}
  <div class="form-group">
    <label class="col-form-label col-sm-3" for="{{ name.replace('_', '-') }}">{{ title }}</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" name="{{ name }}" id="name.replace('_', '-') }}"">
    </div>
  </div>
{% endmacro %}

{% macro select(title, name, options) %}
<div class="form-group">
    <label class="col-form-label col-sm-3" for="{{ name.replace('_', '-') }}">{{ title }}</label>
    <div class="col-sm-5">
      <select class="custom-select">
        {% for k, v in options %}
          <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}

{% macro checkbox(title, name) %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="{{ name }}" class="custom-control-input" id="{{ name.replace('_', '-') }}">
    <label class="custom-control-label" for="{{ name.replace('_', '-') }}">{{ title }}</label>
  </div>
{% endmacro %}

{% macro hidden(name, value) %}
  <input type="hidden" name="{{ name }}" value="{{ value }}" id="{{ name.replace('_', '-') }}">
{% endmacro %}