{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <form method="post">
          {% include '%s.html' % step %}
          {{ forms.hidden('next_step', next_step) }}
          <button type="submit" class="btn btn-primary float-right">Next</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_script %}
  <script>
    $(document).ready(function () {

      $('.enable-oxd-opt').on('change', function(){
        $('#oxdSetup').collapse('toggle');
      });

      $('.install-gluu-gateway-opt').on('change', function(){
        if($(this).val() == 'Y'){
          $('#oxd-alert').collapse('show');
          $('#postgresSetup').collapse('show');
          $('#gluuGatewaySetup').collapse('show');
        }else{
          $('#oxd-alert').collapse('hide');
          $('#postgresSetup').collapse('hide');
          $('#gluuGatewaySetup').collapse('hide');
        }
      });

      $('.install-jackrabbit-opt').on('change', function(){
         if($(this).val() == 'Y'){
          $('#jackrabbitNoInstall').collapse('hide');
          $('#jackrabbitYesInstall').collapse('show');
        }else{
          $('#jackrabbitNoInstall').collapse('show');
          $('#jackrabbitYesInstall').collapse('hide');
        }
      });
    });
  </script>
{% endblock %}