{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="card border-0">
      <div class="card-header">
        <div>
          <img class="mx-auto d-block" src="/green-logo.svg" alt="Gluu green logo">
        </div>
      </div>
      <div class="card-body">
        <h3 class="text-center">Gluu Cloud Native Edition</h3>
          <ul class="wizard wizard-steps-18">
            {% for wizard_step in wizard_steps %}
              {% set step_status = 'active' if loop.index == current_step else ('complete' if loop.index < current_step else '') %}
              <li>
                <div class="step {{ step_status }}">
                  <span data-toggle="tooltip" data-placement="top" title="{{ wizard_step }}">{{ loop.index }}</span>
                  <i>{{ wizard_step }}</i>
                </div>
              </li>
            {% endfor %}

          </ul>
          <br>
          <form id="formInstaller" method="post" enctype="multipart/form-data" novalidate>
            {{ form.csrf_token }}
            {% include '%s.html' % template %}
            {% if(next_step) %}
              {{ forms.hidden('next_step', next_step) }}
            {% endif %}
            <button type="submit" class="btn btn-primary float-right">Next</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_script %}
  <script>
    showHideOption = function(target, value){
      if(value == 'Y'){
        target.collapse('show');
       }else{
        target.collapse('hide');
       }
    }

    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();

      $("#show_hide_password a").on('click', function(event) {
        event.preventDefault();
        var input = $(this).parents('#show_hide_password').find('input'),
            btn = $(this).parents('#show_hide_password').find('a')

        if(input.attr("type") == "text"){
          input.attr('type', 'password');
          btn.html( "Show" );

        }else if(input.attr("type") == "password"){
          input.attr('type', 'text');
          btn.html( "Hide" );
        }
      });

      $('.cron-input').on('click', function(){
        var $input = $(this).parents(".input-group").find('input');
        $input.val($(this).data('input'));
        $input.trigger('change');
      });

      $('#incr_backup_schedule').on("change keydown paste input", function(){
        var $formText = $(this).parents(".form-group").find(".form-text"),
            cronDescriptor = "";
         try{
            cronDescriptor = cronstrue.toString($(this).val());
         }catch(err){
            cronDescriptor = err
         }
        $formText.html(cronDescriptor)
      });

      $('#full_backup_schedule').on("change keydown paste input", function(){
        var $formText = $(this).parents(".form-group").find(".form-text"),
            cronDescriptor = "";
        try{
            cronDescriptor = cronstrue.toString($(this).val());
         }catch(err){
            cronDescriptor = err
         }
        $formText.html(cronDescriptor)
      });

      $('#ldap_backup_schedule').on("change keydown paste input", function(){
        var $formText = $(this).parents(".form-group").find(".form-text"),
            cronDescriptor = "";
        try{
            cronDescriptor = cronstrue.toString($(this).val());
         }catch(err){
            cronDescriptor = err
         }
        $formText.html(cronDescriptor)
      });

      {% if template == 'optional_services' %}
        $('input[name="enable_oxauth_key_rotate"]').on('change', function(){
        showHideOption($('#oxauthKeyLife'), $(this).val());
        });

        $('input[name="enable_oxd"]').on('change', function(){
          showHideOption($('#oxdSetup'), $(this).val());

        });

        $('input[name="enable_oxtrust_api"]').on('change', function(){
          showHideOption($('#oxtrustTestMode'), $(this).val());

        });
      {% endif %}

      {% if template == "gluu_gateway" %}
        $('input[name="install_gluu_gateway').on('change', function(){
          showHideOption($('#oxd-alert'), $(this).val());
          showHideOption($('#postgresSetup'), $(this).val());
          showHideOption($('#gluuGatewaySetup'), $(this).val());
        });
      {% endif %}

      {% if template == "install_jackrabbit" %}
        $('input[name="install_jackrabbit"').on('change', function(){
          if($(this).val() == 'Y'){
            $('#jackrabbitYesInstall').collapse('show');
             $('#jackrabbitNoInstall').collapse('hide');
           }else{
            $('#jackrabbitNoInstall').collapse('show');
            $('#jackrabbitYesInstall').collapse('hide');
           }
        });
      {% endif %}

      {% if template == "settings" %}
        IpAddress = function(){
          return Promise.resolve($.get('/determine_ip'));
        }

        ValidateIP = function(ip_address){
          return Promise.resolve($.get('/validate_ip/' + ip_address));
        }

        IpAddress().then(function(data){
          $('#host_ext_ip').val(data.ip_address);

          if(data.status){
            $('#host_ext_ip').addClass('is-valid');
            $('#host_ext_ip').closest('.form-group').find('.feedback').addClass('valid-feedback').html(data.message);
          }else{
            $('#host_ext_ip').addClass('is-invalid');
            $('#host_ext_ip').closest('.form-group').find('.feedback').addClass('invalid-feedback').html(data.message);
          }

          $('#validate-ip').collapse('show');

        });

        $('#validate-ip').on('click', function(){
          ValidateIP($('#host_ext_ip').val()).then(function(data){

           if(data.status){
              $('#host_ext_ip').removeClass('is-invalid');
              $('#host_ext_ip').addClass('is-valid');
              $('#host_ext_ip').closest('.form-group').find('.feedback').removeClass('invalid-feedback');
              $('#host_ext_ip').closest('.form-group').find('.feedback').addClass('valid-feedback').html(data.message);
              $("#validate-ip").collapse("hide");
            }else{
              $('#host_ext_ip').removeClass('is-valid');
              $('#host_ext_ip').closest('.form-group').find('.feedback').removeClass('valid-feedback');
              $('#host_ext_ip').addClass('is-invalid');
              $('#host_ext_ip').closest('.form-group').find('.feedback').addClass('invalid-feedback').html(data.message);
            }
          });
        });

        $('input[name="persistence_backend"]').on('change', function(){
          if($(this).val() == 'hybrid'){
            $('#hybridLdapHeldData').collapse('show');
          }else{
            $('#hybridLdapHeldData').collapse('hide');
          }
        });

        $('input[name="use_arn"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('#arn_aws_iam').prop('disabled', false);
          }else{
            $('#arn_aws_iam').prop('disabled', true);
          }
        });

      {% endif %}

      {% if template == "app_volume_type" %}
        $('input[name="app_volume_type"]').on('change', function(){
          if($(this).val() == 8 || $(this).val() == 13){
            $('#ldap_static_volume_id').prop("disabled", false);
            $('#ldap_static_volume_id').parents('.form-group').collapse("show");
            $('#ldap_static_disk_uri').prop("disabled", true);
            $('#ldap_static_disk_uri').parents('.form-group').collapse("hide");
          }else if($(this).val() == 18){
            $('#ldap_static_volume_id').prop("disabled", true);
            $('#ldap_static_volume_id').parents('.form-group').collapse("false");
            $('#ldap_static_disk_uri').prop("disabled", false);
            $('#ldap_static_disk_uri').parents('.form-group').collapse("show");
          }else{
            $('#ldap_static_volume_id').prop("disabled", true);
            $('#ldap_static_volume_id').parents('.form-group').collapse("hide");
            $('#ldap_static_disk_uri').prop("disabled", true);
            $('#ldap_static_disk_uri').parents('.form-group').collapse("hide");
          }
        });
      {% endif %}

      {% if template == "cache_type" %}
        $('input[name="gluu_cache_type"]').on('change', function(){
          console.log($(this).val())
          if($(this).val() == "REDIS"){
            $('#redisSetup').collapse('show');
          }else{
            $('#redisSetup').collapse('hide');
          }
        });

        $('input[name="redis-install_redis"]').on('change', function(){
          if($(this).val() == "N"){
            $('#redisPassword').collapse('show');
            var inputs = $('#redisPassword').find('input'),
                redisNodes = $('#redisNodes').find('input');

            inputs.each(function(k, el){
              $(el).prop("disabled", false);
            });

            redisNodes.each(function(k, el){
              $(el).prop("disabled", true);
            });
            $('#redisNodes').collapse('hide');
          }else{
            $('#redisPassword').collapse('hide');
            var inputs = $('#redisPassword').find('input'),
                redisNodes = $('#redisNodes').find('input');

            inputs.each(function(k, el){
              $(el).prop("disabled", true);
            });

            redisNodes.each(function(k, el){
              $(el).prop("disabled", false);
            });
            $('#redisNodes').collapse('show');
          }
        });
      {% endif %}

      {% if template == "couchbase" %}
         $('input[name="install_couchbase"]').on('change', function(){
            if($(this).val() == "N"){
              $('#couchbase_crt').parents('.form-group').collapse('show');
            }else{
              $('#couchbase_crt').parents('.form-group').collapse('hide');
            }
         });

         $('input[name="couchbase_cluster_file_override"]').on('change', function(){
            if($(this).val() == "Y"){
              $('#couchbase_cluster_files').parents('.form-group').collapse('show');
            }else{
              $('#couchbase_cluster_files').parents('.form-group').collapse('hide');
            }
         });
      {% endif %}

      {% if template == "image_name_tag" %}
        $('input[name="edit_image_names_tags"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('#nameTags').collapse('show');
          }else{
            $('#nameTags').collapse('hide');
          }
        });
      {% endif %}
    });


  </script>
{% endblock %}