# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "radius.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "radius.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "radius.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "radius.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        {{- if and (and .Values.global.cloud.enabled (eq .Values.global.isDomainRegistered "false") ) (eq .Values.global.provisioner "kubernetes.io/aws-ebs") }}
        command:
          - /bin/sh
          - -c
          - |
              /usr/bin/python /scripts/updatelbip.py &
              /app/scripts/entrypoint.sh
        {{- end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
          - name: radius-auth
            containerPort: 1812
          - name: radius-ac
            containerPort: 1813
        envFrom:
          - configMapRef:
              name: {{ include "radius.fullname" . }}
        volumeMounts:
        {{- if and (and .Values.global.cloud.enabled (eq .Values.global.isDomainRegistered "false") ) (eq .Values.global.provisioner "kubernetes.io/aws-ebs") }}
          - name: {{ include "radius.fullname" .}}-updatelbip
            mountPath: /scripts
        {{- end }}
        {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
          - name: cb-pass
            mountPath: "/etc/gluu/conf/couchbase_password"
            subPath: couchbase_password
          - name: cb-crt 
            mountPath: "/etc/certs/couchbase.crt"
            subPath: couchbase.crt
        {{- end }}
        livenessProbe:
          exec:
            command:
            - cat
            - /tmp/gluu-radius-health
          initialDelaySeconds: 30
          periodSeconds: 30 
          failureThreshold: 20
        readinessProbe:
          exec:
            command:
            - cat
            - /tmp/gluu-radius-health
          initialDelaySeconds: 25
          periodSeconds: 25
          failureThreshold: 20
      volumes:
        {{- if and (and .Values.global.cloud.enabled (eq .Values.global.isDomainRegistered "false") ) (eq .Values.global.provisioner "kubernetes.io/aws-ebs") }}
        - name: {{ include "radius.fullname" .}}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
        {{- end }}
        {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
        - name: cb-pass
          secret:
            secretName: {{ .Release.Name }}-cb-pass 
        - name: cb-crt 
          secret:
            secretName: {{ .Release.Name }}-cb-crt          
        {{- end }}
      {{- if eq .Values.global.isDomainRegistered "false"}}
      hostAliases:
        - ip: {{ .Values.global.nginxIp }}
          hostnames:
            - {{ .Values.global.domain }} 
      {{- end }}

