# License terms and conditions:
# https://www.gluu.org/license/enterprise-edition/
apiVersion: v1
kind: Service
metadata:
  name: {{ include "radius.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "radius.labels" . | indent 4}}
spec:
  ports:
    {{- range $key, $value := .Values.service.ports }}
    - port: {{ $value.port }}
      name: {{$key}}
    {{- end }}
  selector:
    app: {{ include "radius.name" . }}
