# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Service
metadata:
  name: {{ include "radius.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "radius.labels" . | indent 4}}
spec:
  ports:
    {{- range $key, $value := .Values.service.ports }}
    - port: {{ $value.port }}
      targetPort: http
      protocol: TCP
      name: {{$key}}
    {{- end }}
  selector:
    app: {{ include "radius.name" . }}
