# License terms and conditions:
# https://www.gluu.org/license/enterprise-edition/
replicaCount: 1
dynamicStorage: true

image:
  repository: gluufederation/oxauth
  tag: 4.1.0_01
  pullPolicy: Always

persistence:
  size: 10M
  accessModes: ReadWriteOnce
  storageClassName: ""

#ConfigMap values
gluuLdapUrl: opendj:1636
gluuMaxRamFraction: 1

#Resources for the deployment
requests:
  memory: 1000Mi
limits:
  memory: 1536Mi

#ports for the deployment
ports:
  containerPort: 8080
