# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v2
appVersion: "5.0.0a1"
home: https://www.gluu.org
maintainers:
- name: Gluu
email: support@gluu.org
description: A Helm chart for Gluu IDP
name: gluu
version: 5.0.0-a1
dependencies:
    - name: config
      condition: global.config.enabled
      version: 5.0.0a1

    - name: config-api
      condition: global.config-api.enabled
      version: 5.0.0a1

    - name: opendj
      condition: global.opendj.enabled
      version: 5.0.0a1

    - name: jackrabbit
      condition: global.jackrabbit.enabled
      version: 5.0.0a1

    - name: auth-server
      condition: global.auth-server.enabled
      version: 5.0.0a1

    - name: fido2
      condition: global.fido2.enabled
      version: 5.0.0a1

    - name: scim
      condition: global.scim.enabled
      version: 5.0.0a1

    - name: nginx-ingress
      condition: global.nginx-ingress.enabled
      version: 5.0.0a1
  
    - name: oxshibboleth
      condition: global.oxshibboleth.enabled
      version: 5.0.0a1
  
    - name: oxpassport
      version: 5.0.0a1
      condition: config.configmap.cnPassportEnabled

    - name: casa
      version: 5.0.0a1
      condition: config.configmap.cnCasaEnabled
  
    - name: auth-server-key-rotation
      condition: global.auth-server-key-rotation.enabled
      version: 5.0.0a1
  
    - name: cr-rotate
      version: 5.0.0a1
      condition: global.cr-rotate.enabled
  
    - name: radius
      condition: config.configmap.cnRadiusEnabled
      version: 5.0.0a1

    - name: client-api
      condition: global.client-api.enabled
      version: 5.0.0a1
  
    - name: persistence
      condition: global.persistence.enabled
      version: 5.0.0a1

    - name: cn-istio-ingress
      condition: global.istio.ingress
      version: 5.0.0a1
