installer-settings:
  # Only used by the installer. These settings do not affect nor are used by the chart
  currentVersion:
  upgrade:
    targetVersion:
    image:
      repository:
      tag:
  acceptLicense:
  namespace: gluu
  releaseName: gluu
  nginxIngress:
    releaseName:
    namespace:
  nodes:
    names:
    zones:
    ips:
  images:
    edit:
  aws:
    lbType: clb
    arn:
      enabled: false
      arnAcmCert:
    vpcCidr: "0.0.0.0/0"
  couchbase:
    clusterName:
    namespace:
    lowResourceInstall:
    install:
    customFileOverride:
    backup:
      incrementalSchedule:
      fullSchedule:
      retentionTime:
      storageSize:
    # Couchbase cert related keys
    subjectAlternativeName:
    commonName:
    # Couchbase cluster yaml generator keys
    totalNumberOfExpectedUsers:
    totalNumberOfExpectedTransactionsPerSec:
    volumeType:
  volumeProvisionStrategy:
  gluuGateway:
    install:
    kong:
      image:
        repository:
        tag:
      releaseName:
      namespace:
      postgresUser:
      postgresPassword:
      postgresDatabaseName:
    uI:
      releaseName:
      namespace:
      postgresUser:
      postgresPassword:
      postgresDatabaseName:
  ldap:
    subsequentCluster:
    backup:
      fullSchedule:
  jackrabbit:
    clusterMode:
  postgres:
    install:
    namespace:
    replicas:
  redis:
    install:
    masterNodes:
    nodesPerMaster:
    namespace:
  confirmSettings: false

auth-server:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: janssenproject/auth-server
    tag: 1.0.0_b5
  replicas: 1
  resources:
    limits:
      cpu: 2500m
      memory: 2500Mi
    requests:
      cpu: 2500m
      memory: 2500Mi
  service:
    authServerServiceName: auth-server
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
auth-server-key-rotation:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: janssenproject/certmanager
    tag: 1.0.0_b4
  keysLife: 23
  resources:
    limits:
      cpu: 300m
      memory: 300Mi
    requests:
      cpu: 300m
      memory: 300Mi
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
casa:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: gluufederation/casa
    tag: 5.0.0_dev
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 500m
      memory: 500Mi
  service:
    casaServiceName: casa
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
client-api:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: janssenproject/client-api
    tag: 1.0.0_b4
  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 400Mi
    requests:
      cpu: 1000m
      memory: 400Mi
  service:
    clientApiServerServiceName: client-api
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
config:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  adminPassword: Test1234#
  city: Austin
  configmap:
    cnAuthServerBackend: "auth-server:8080"
    cnSqlDbDialect: mysql
    cnSqlDbHost: my-release-mysql.default.svc.cluster.local
    cnSqlDbPort: 3306
    cnSqlDbName: jans
    cnSqlDbUser: jans
    cnSqlDbTimezone: UTC
    cnSqlPasswordFile: /etc/jans/conf/sql_password
    cnSqldbUserPassword: Test1234#
    cnCacheType: NATIVE_PERSISTENCE
    cnCasaEnabled: false
    cnClientApiAdminCertCn: client-api
    cnClientApiApplicationCertCn: client-api
    cnClientApiBindIpAddresses: "*"
    cnClientApiServerUrl: "client-api:8443"
    cnConfigKubernetesConfigMap: cn
    cnCouchbaseBucketPrefix: jans
    cnCouchbaseCertFile: /etc/certs/couchbase.crt
    cnCouchbaseCrt: SWFtTm90YVNlcnZpY2VBY2NvdW50Q2hhbmdlTWV0b09uZQo=
    cnCouchbaseIndexNumReplica: 0
    cnCouchbasePassword: P@ssw0rd
    cnCouchbasePasswordFile: /etc/gluu/conf/couchbase_password
    cnCouchbaseSuperUser: admin
    cnCouchbaseSuperUserPassword: Test1234#
    cnCouchbaseSuperUserPasswordFile: /etc/gluu/conf/couchbase_superuser_password
    cnCouchbaseUrl: cbgluu.default.svc.cluster.local
    cnCouchbaseUser: gluu
    cnDocumentStoreType: JCA
    cnJackrabbitAdminId: admin
    cnJackrabbitAdminIdFile: /etc/gluu/conf/jackrabbit_admin_id
    cnJackrabbitAdminPasswordFile: /etc/gluu/conf/jackrabbit_admin_password
    cnJackrabbitPostgresDatabaseName: jackrabbit
    cnJackrabbitPostgresHost: postgresql.postgres.svc.cluster.local
    cnJackrabbitPostgresPasswordFile: /etc/gluu/conf/postgres_password
    cnJackrabbitPostgresPort: 5432
    cnJackrabbitPostgresUser: jackrabbit
    cnJackrabbitSyncInterval: 300
    cnJackrabbitUrl: "http://jackrabbit:8080"
    # [google_envs] Envs related to using Google
    # Base64 encode service account. The sa must have roles/secretmanager.admin to use Google secrets and roles/spanner.databaseUser to use Spanner
    cnGoogleSecretManagerServiceAccount: SWFtTm90YVNlcnZpY2VBY2NvdW50Q2hhbmdlTWV0b09uZQo=
    cnGoogleProjectId: google-project-to-save-config-and-secrets-to
    # [google_spanner_envs] Envs related to using Google Secret Manager to store config and secret layer
    cnGoogleSpannerInstanceId: ""
    cnGoogleSpannerDatabaseId: ""
    # [google_spanner_envs] END
    # [google_secret_manager_envs] Envs related to using Google Secret Manager to store config and secret layer
    cnSecretGoogleSecretVersionId: "latest"
    cnSecretGoogleSecretNamePrefix: jans
    cnGoogleSecretManagerPassPhrase: Test1234#
    cnConfigGoogleSecretVersionId: "latest"
    cnConfigGoogleSecretNamePrefix: jans
    # [google_secret_manager_envs] END
    # [google_envs] END
    cnLdapUrl: "opendj:1636"
    cnMaxRamPercent: "75.0"
    cnPassportEnabled: false
    cnPersistenceLdapMapping: default
    cnRadiusEnabled: false
    cnRedisSentinelGroup: ""
    cnRedisSslTruststore: ""
    cnRedisType: STANDALONE
    cnRedisUrl: "redis.redis.svc.cluster.local:6379"
    cnRedisUseSsl: false
    cnSamlEnabled: false
    cnSecretKubernetesSecret: cn
    cnSyncCasaManifests: false
    cnSyncShibManifests: false
    containerMetadataName: kubernetes
    lbAddr: ""
    ldapServiceName: opendj
  countryCode: US
  email: support@gluu.org
  image:
    repository: janssenproject/configuration-manager
    tag: 1.0.0_b4
  ldapPassword: P@ssw0rds
  orgName: Gluu
  redisPassword: P@assw0rd
  resources:
    limits:
      cpu: 300m
      memory: 300Mi
    requests:
      cpu: 300m
      memory: 300Mi
  state: TX
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
  dnsPolicy: ""
  dnsConfig: {}
config-api:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: janssenproject/config-api
    tag: 1.0.0_b5
  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 400Mi
    requests:
      cpu: 1000m
      memory: 400Mi
  service:
    configApiServerServiceName: config-api
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
cr-rotate:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Alwayss
    repository: gluufederation/cr-rotate
    tag: 5.0.0_dev
  resources:
    limits:
      cpu: 200m
      memory: 200Mi
    requests:
      cpu: 200m
      memory: 200Mi
  service:
    crRotateServiceName: cr-rotate
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
fido2:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: janssenproject/fido2
    tag: 1.0.0_b4
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 500m
      memory: 500Mi
  service:
    fido2ServiceName: fido2
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
global:
  # Envs defined in global.userEnvs will be globally available to all services
  usrEnvs: {}
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  alb:
    ingress: false
  auth-server:
    enabled: true
  auth-server-key-rotation:
    enabled: false
  awsStorageType: io1
  azureStorageAccountType: Standard_LRS
  azureStorageKind: Managed
  client-api:
    enabled: false
  cloud:
    testEnviroment: false
  cnJackrabbitCluster: true
  # ldap|couchbase|hybrid|sql|spanner
  cnPersistenceType: ldap
  cnObExtSigningJwksUri: ""
  # base64 string for the open banking AS external signing jwks crt, keys and passphrase. Used when .global.cnObExtSigningJwksUri is set.
  cnObExtSigningJwksCrt: ""
  cnObExtSigningJwksKey: ""
  cnObExtSigningJwksKeyPassPhrase: ""
  # This is a kid value.Used in SSA Validation, kid used while encoding a JWT sent to token URL i.e XkwIzWy44xWSlcWnMiEc8iq9s2G
  cnObExtSigningAlias: ""

  # base64 string for the open banking AS transport crt , keys and passphrase. Used when .global.cnObExtSigningJwksUri is set.
  cnObTransportCrt: ""
  cnObTransportKey: ""
  cnObTransportKeyPassPhrase: ""
  cnObTransportAlias: ""
  # base64 string for the open banking AS transport truststore in p12 format. This can be generated from the OB issuing CA, OB Root CA and Signing CA. Used when .global.cnObExtSigningJwksUri is set.
  cnObTransportTrustStore: ""
  config:
    enabled: true
  #google/kubernetes
  configAdapterName: kubernetes
  #google/kubernetes
  configSecretAdapter: kubernetes
  # [google_envs] Envs related to using Google
  # Base64 encode service account. The sa must have roles/secretmanager.admin to use Google secrets and roles/spanner.databaseUser to use Spanner
  cnGoogleApplicationCredentials: /etc/jans/conf/google-credentials.json
  # [google_envs] END
  config-api:
    enabled: true
  cr-rotate:
    enabled: false
  fqdn: demoexample.gluu.org
  fido2:
    enabled: false
  gcePdStorageType: pd-standard
  isFqdnRegistered: false
  istio:
    enabled: false
    ingress: false
    namespace: istio-system
  jackrabbit:
    enabled: false
  lbIp: ""
  nginx-ingress:
    enabled: true
  opendj:
    enabled: false
  oxshibboleth:
    enabled: false
  # distributions supported are: default|openbanking
  distribution: default
  persistence:
    enabled: true
  scim:
    enabled: false
  storageClass:
    allowVolumeExpansion: true
    allowedTopologies: []
    mountOptions:
    - debug
    parameters: {}
    #parameters:
      #fsType: ""
      #kind: ""
      #pool: ""
      #storageAccountType: ""
      #type: ""
    provisioner: microk8s.io/hostpath
    reclaimPolicy: Retain
    volumeBindingMode: WaitForFirstConsumer
  upgrade:
    enabled: false
jackrabbit:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: gluufederation/jackrabbit
    tag: 5.0.0_dev
  replicas: 1
  resources:
    limits:
      cpu: 1500m
      memory: 1000Mi
    requests:
      cpu: 1500m
      memory: 1000Mi
  secrets:
    cnJackrabbitAdminPassword: Test1234#
    cnJackrabbitPostgresPassword: P@ssw0rd
  service:
    jackRabbitServiceName: jackrabbit
  storage:
    size: 5Gi
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
nginx-ingress:
  ingress:
    # /.well-known/openid-configuration
    openidConfigEnabled: true
    # /.well-known/uma2-configuration
    uma2ConfigEnabled: true
    # /.well-known/webfinger
    webfingerEnabled: true
    # /.well-known/simple-web-discovery
    webdiscoveryEnabled: true
    # /.well-known/scim-configuration
    scimConfigEnabled: false
    # /jans-scim
    scimEnabled: false
    # /jans-config-api
    configApiEnabled: true
    # /.well-known/fido-configuration
    u2fConfigEnabled: true
    # /.well-known/fido2-configuration
    fido2ConfigEnabled: false
    # /jans-auth
    authServerEnabled: true
    #/jans-auth/restv1/token
    authServerProtectedToken: false
    #/jans-auth/restv1/register
    authServerProtectedRegister: false
    # in the format of {cert-manager.io/cluster-issuer: nameOfClusterIssuer, kubernetes.io/tls-acme: "true"}
    additionalAnnotations: {}
    path: /
    hosts:
    - demoexample.gluu.org
    tls:
    - secretName: tls-certificate
      hosts:
      - demoexample.gluu.org
opendj:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: gluufederation/opendj
    tag: 5.0.0_dev
  multiCluster:
    enabled: false
    serfAdvertiseAddr: "firstldap.gluu.org:30946"
    serfKey: Z51b6PgKU1MZ75NCZOTGGoc0LP2OF3qvF6sjxHyQCYk=
    serfPeers:
      - "firstldap.gluu.org:30946"
      - "secondldap.gluu.org:31946"
  persistence:
    size: 5Gi
  ports:
    tcp-admin:
      nodePort: ""
      port: 4444
      protocol: TCP
      targetPort: 4444
    tcp-ldap:
      nodePort: ""
      port: 1389
      protocol: TCP
      targetPort: 1389
    tcp-ldaps:
      nodePort: ""
      port: 1636
      protocol: TCP
      targetPort: 1636
    tcp-repl:
      nodePort: ""
      port: 8989
      protocol: TCP
      targetPort: 8989
    tcp-serf:
      nodePort: ""
      port: 7946
      protocol: TCP
      targetPort: 7946
    udp-serf:
      nodePort: ""
      port: 7946
      protocol: UDP
      targetPort: 7946
  replicas: 1
  resources:
    limits:
      cpu: 1500m
      memory: 2000Mi
    requests:
      cpu: 1500m
      memory: 2000Mi
  service:
    ldapServiceName: opendj
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
oxpassport:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: gluufederation/oxpassport
    tag: 5.0.0_dev
  replicas: 1
  resources:
    limits:
      cpu: 700m
      memory: 900Mi
    requests:
      cpu: 700m
      memory: 900Mi
  service:
    oxPassportServiceName: oxpassport
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
oxshibboleth:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: gluufederation/oxshibboleth
    tag: 5.0.0_dev
  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 1000Mi
    requests:
      cpu: 1000m
      memory: 1000Mi
  service:
    oxShibbolethServiceName: oxshibboleth
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
persistence:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: janssenproject/persistence-loader
    tag: 1.0.0_b5
  resources:
    limits:
      cpu: 300m
      memory: 300Mi
    requests:
      cpu: 300m
      memory: 300Mi
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
radius:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: gluufederation/radius
    tag: 5.0.0_dev
  replicas: 1
  resources:
    limits:
      cpu: 700m
      memory: 700Mi
    requests:
      cpu: 700m
      memory: 700Mi
  service:
    radiusServiceName: radius
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
scim:
  #usrEnvs:
  #  normal:
  #    variable1: value1
  #  secret:
  #    variable4: value4
  dnsPolicy: ""
  dnsConfig: {}
  image:
    pullPolicy: Always
    repository: janssenproject/scim
    tag: 1.0.0_b4
  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 1000Mi
    requests:
      cpu: 1000m
      memory: 1000Mi
  service:
    scimServiceName: scim
#  livenessProbe:
#    initialDelaySeconds: 25
#  readinessProbe:
#    initialDelaySeconds: 30
  volumes: []
    # Configure any additional volumes that need to be attached to the pod
  volumeMounts: []
    # Configure any additional volumesMounts that need to be attached to the containers
