# Default values for oxd-server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: gluufederation/oxd-server
  tag: 4.0.0_01
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

persistence:
  accessModes: ReadWriteOnce
  size: 5Gi

secret:
  keystore: MIIKFQIBAzCCCc4GCSqGSIb3DQEHAaCCCb8Eggm7MIIJtzCCBWsGCSqGSIb3DQEHAaCCBVwEggVYMIIFVDCCBVAGCyqGSIb3DQEMCgECoIIE+zCCBPcwKQYKKoZIhvcNAQwBAzAbBBSjYO4wUaaEqKJRmUA7sILqc1yzqwIDAMNQBIIEyIpIwu73/I/VwpYu+hU9q7ICXlfpYdXJMMfBAzVniWC47mtR3+vi2zmzngAtpSVfAcN5xj6dJAQIxFcAG3SjvRD2yYXPxeJhzlFOKODkTYECJn33dl8gkDnP3xRAHWGvKZQsPHj1gUacnL7VoMhfzBPAoezuo+Hn7aC3iJ+EcjRCNihM2cI71LTSNT0hNrvwc6AY8TjJg4+V0Lhb6DTEPeWF8LI8REcBp289mruE2w5R+S7ypjx5JNEZy+ZKo/e97MV7RD0T37twrOGXKbQ4jaNWVRE4xpAnRXawt1y8pBLzLKYKg8i/upPNB9HgQuKtNl0P8y0o1S5C7FClVzQrvvsprhQGjScJIIJrFGXGd0DtSUnwNM95twg1nO/c18nLGCetnN8sKEnLOo0JOAOFSTzrrNiRQb9nepOWAPbV6pptUVmUsARx67zCmFPl/x5Q2t7Zihm6tE8F3+70RURvuPkG4X6DciaoaxwFgY6oFoj4SN9cy+hiLP8wmV/Hd+4tWJbYrx9zBwDxwTCT8h9YB6iXoRk9A55RadlWBdsjrjjLjvNIBMIhiIkbvWQW68THKxXvVCrMpW+XILV+ZEVnu4CWs4Av6oROHbsPuIzJZepCHcE5b8i4h6fOxvSakC7bIPad02woKhwzUcwwv0WUq3Yuwygf7x73spEg7oMiwAsoENQ8icV/N59Ig32ifpQ6C1JvYhc55V0Ytf8BCMo9Ph/wtgyGrA1aIHfFlZu56IYPkxfoPvMqvB7/6bfXoLs4n/7Icmq5yiBRkj14SW4GluzpSker2sDuREu/EoyG2E1jJ0xfEo7TBTz3Gf3T7XWVp9kiBPiwPqLRhlq3yhfPKy77hLWIKkdfS1l1piGtQpd0RHLITAqSe6lNXGhlLw9Jc/Mcb5GrI5crxd+nvYBCutjpTHleMsrBr97IClgmmVYZS9vouhf4UpfPsTUaVPf6poB8e9FjhCcqJhuTZypJG6+clZBRPT3fIiqQ2ZfE4Tek5Tp/IFnWM72DK8yRzeG1GGDNxzSb386eZwZNc7kr+yDkA2FYRh7Barf6LNTHbnbnxkLFKD0XXtg4hqTrNpCvkrPlmPaaS2eOwmL5hdCEeNtINZfQU+uu6Ep1p9/GyyDfwgxyTaxOqCKS+ukOYw6gLeSDGj/55Pw933S+uNx2TEGxjua93bF00MduDQfDozrvqZtgHVWuW1Zlw7tOXvGNG6FCxSIhSi9jT41z28lhfKN+Zxg3jAfm5BSbOaSFfi6UqLuXPtMm3TJwIEL9UkaVRqIGS+b/EYUN4QZXGLsXXfP7V8GyKBF03Jp372URNJe6QBMEJ+9pvMRT15UO/UB1wYMTi09xy/E7cfluPXHIWbjnrIr2s9DKc3A8uaYTKjwrim/QvANWYk59dpqNcSpych58kqp3JqCIaeHZju/fS7dSXXkE56JgiQy3FrBxlQ6ZWUizuaeVWEpEIAzVho5Da/+AtLpX635J/dGxcgVQSton5pquTHCj9tnVqSsCA4aw0z6/PMwuFBp5/c9sVpdwPt7ySjQUbRDEfwLAqrfqbQvNbo+9qVFmFv0CBI2q/tKRBuiylhdKGbNPjbtQeKERlAJr3FvsWsP1t5BMUOxsiCL6EF2K2RfMpDFCMB0GCSqGSIb3DQEJFDEQHg4AbwB4AGQAXwBrAGUAeTAhBgkqhkiG9w0BCRUxFAQSVGltZSAxNTczNDcyNDEzNzc5MIIERAYJKoZIhvcNAQcGoIIENTCCBDECAQAwggQqBgkqhkiG9w0BBwEwKQYKKoZIhvcNAQwBBjAbBBSrzGU3+8136bUyfG+QsRRQue3P9AIDAMNQgIID8AnV9qRaQRGbA//vHTX2flZrUTUJJ6gNenVa7beSeKi+XHFoIwp82kpxfcO81h2XYFJOV82Wu3984Wzveu0qpehL5feRbWfJC0esv4NPLTEL0wXlfFwda74m9iAoKJlvi6j/GAAO9iqVJECR2MF6CiKLlOXMJ8fdhAAnNSCZR0FbjSLXHufQJaWi/vgVBm3wUg/F8EaZCBb6PB6+BVz7lNPeJsLfIMyzrD60a20mBs1eZq8cS0N7LZ9MAaOU2gvdN+xdkV6177OTRrGRnAF2YSonzUuN9YRUw1T+JEnQ/o/aQzTMxzVeTHVlY01wK8kbFuX9K4Wf3oPBC+QVtHA0p2O+C6kNKhbPsMPVY9F2xwxi03SzqygApHXeeUTrCB5Ce0r/924L/k8YR76LLTGBs27QVjWvjc91dHuvZioHrKO1xgBgpyyKdBwEWAhNZfO5XE4R1+JFjx4jnG9Hm1FS9EWjm/wLlTUd50GPq5iuUMyKqM7UIxYIISPEMLzQpdXlGkIYw6SG86OFAMEybccYtn7JseDEfgKS84pRcGXpWSABUBRlDdy4FAWDFcKNH5XOzU3+sJCdZSTPudbz9yy94tutpWUr+5ucp7Va0OlP8BD93HnWd9xqKOi1kT6bRRc91znoLZZTzU6PvXfe6RKE4cfeBNHzS/Q+dkC5czyZgnH0YKsEbzcSWWU7vtQfY45gPj+ctYTmHMwnPtufN15Behg8bwQMRxgzYXrjDnPzay5t0rqXW2UIV+BI4sGVXzMRwLMUFYq8Gh3xn3AzRCbysbw/ynFxMgDkrC3PBfAjs2DThJUVW2aubpmrxUjE59B/zguGBqjMUfFAnTAFbuJhaCq1eszkOba60MJMwkhV5D64lm7/P+HwDljV+fckPd3uKJVfWSf8UPU5r8q8h3paj1HXrR48nhJqRwjzujCR8X0jY5Ne2/wGbO+6MQsbFY3isQaihSke+eKmQcKJ9buiXMxAQPh/ta2CoqsrUVeTIpIbPNiCMCqV2MwVm6GrtTSbS4X5sW1mMp7FAin7dG/dR6NtdT3Nb6kNrrmlVqfaqFT1tA0kHg1J2BAiDdGP/c2Hp0cfTB36d+oQP2nSawy6OguGJAUYSvNwdSQQt+hugqCBBpMCN71uQvrTtn70V+JaZcKCJyu+j6E8/jwDiZqrcu7s0wNJV81EKEUIiEGu6zTbBeAKAY43lnV+gqi29eDIUwdYR3RV2tXUWPeWcxr6ZpqjSaxe9g75uY3AeCiJgCexyiwsrUsAOxz7sRGMZzYtFDYcKaRUE2cpTKy7kSOENq3boGy5W4UX8uhKSTBnupj1TO61WnIFJ1qvaMfqSv4Y5zA+MCEwCQYFKw4DAhoFAAQUoFjEVYebcpqeXj0NC+yIPo61nDIEFHkfsG9//PS9KYIgl+5zbcYjgcuXAgMBhqA=
    
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
