# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "cr-rotate.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: cr-rotote
{{ include "cr-rotate.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ include "cr-rotate.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "cr-rotate.name" . }}
        release: {{ .Release.Name }}
        APP_NAME: cr-rotate
    spec:
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      containers:
        - name: {{ include "cr-rotate.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            {{- include "cr-rotate.usr-envs" . | indent 12 }}
            {{- include "cr-rotate.usr-secret-envs" . | indent 12 }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-config-cm
            {{ if .Values.global.usrEnvs.secret }}
            - secretRef:
                name: {{ .Release.Name }}-global-user-custom-envs
            {{- end }}
            {{ if .Values.global.usrEnvs.normal }}
            - configMapRef:
                name: {{ .Release.Name }}-global-user-custom-envs
            {{- end }}
          {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
          volumeMounts:
            - name: cb-pass
              mountPath: "/etc/gluu/conf/couchbase_password"
              subPath: couchbase_password
            {{- if not .Values.global.istio.enabled }}
            - name: cb-crt 
              mountPath: "/etc/certs/couchbase.crt"
              subPath: couchbase.crt
            {{- end }}
          {{- end }}
          {{- if or (eq .Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq .Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
          resources: {}
          {{- else if .Values.global.cloud.testEnviroment }}
          resources: {}
          {{- else }}
          resources:
{{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
      volumes:
        - name: cb-pass
          secret:
            secretName: {{ .Release.Name }}-cb-pass
        {{- if not .Values.global.istio.enabled }}
        - name: cb-crt 
          secret:
            secretName: {{ .Release.Name }}-cb-crt
        {{- end }}
      {{- end }}    
