{{ if .Values.global.cnJackrabbitCluster }}
# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Secret
metadata:
    name: cn-jackrabbit-admin-pass
    namespace: {{ .Release.Namespace }}
data:
    jackrabbit_admin_password: {{ .Values.secrets.cnJackrabbitAdminPassword | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
    name: cn-jackrabbit-postgres-pass
    namespace: {{ .Release.Namespace }}
data:
    postgres_password: {{ .Values.secrets.cnJackrabbitPostgresPassword | b64enc }}
{{- end -}}
