# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "jackrabbit.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "jackrabbit.labels" . | indent 4}}
spec:
  selector:
    matchLabels:
      app: {{ include "jackrabbit.name" . }}
  serviceName: {{ include "jackrabbit.name" . }}
  replicas: {{ .Values.replicas }} 
  template:
    metadata:
      labels:
        app: {{ include "jackrabbit.name" . }}
      {{- if .Values.global.istio.ingress }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
    spec:
      volumes:
      {{- if eq .Values.global.gluuJackrabbitCluster "true" }}
        - name: gluu-jackrabbit-admin-pass
          secret:
            secretName: gluu-jackrabbit-admin-pass
        - name: gluu-jackrabbit-postgres-pass
          secret:
            secretName: gluu-jackrabbit-postgres-pass
      {{- end }}
      containers:
      - name: {{ include "jackrabbit.fullname" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-config-cm
        ports:
          - name: {{ .Values.service.jackRabbitServiceName }}
            containerPort: {{ .Values.ports.jackrabbit.port }}
            protocol: TCP
        volumeMounts:
        {{- if eq .Values.global.gluuJackrabbitCluster "true" }}
          - name: gluu-jackrabbit-admin-pass
            mountPath: /etc/gluu/conf/jackrabbit_admin_password
            subPath: jackrabbit_admin_password
          - name: gluu-jackrabbit-postgres-pass
            mountPath: /etc/gluu/conf/postgres_password
            subPath: postgres_password
        {{- end }}
        {{- range $key, $values := .Values.volumeMounts }}
          - mountPath: {{$values.mountPath}}
            name: {{$values.name}}
            subPath: {{$key}}
        {{- end }}
        readinessProbe:
          tcpSocket: 
            port: 8080
          initialDelaySeconds: 25
          periodSeconds: 25
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
        {{- if or (eq .Values.global.provisioner "microk8s.io/hostpath" ) (eq .Values.global.provisioner "k8s.io/minikube-hostpath") }}
        resources: {}
        {{- else if .Values.global.cloud.testEnviroment }}
        resources: {}
        {{- else }}
        resources:
{{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
  volumeClaimTemplates:
  - metadata:
      name: jackrabbit-volume
    spec:
      accessModes:
      - {{ .Values.storage.accessModes }}
      resources:
        requests:
          storage: {{ .Values.storage.size }}
      storageClassName: {{ include "jackrabbit.fullname" . | quote }}