{% if deployment_arch in ("eks", "gke", "do", "local", "aks") %}
<fieldset id="appVolumeType" class="form-group">
  <h6 class="border-bottom border-gray pb-2 mt-2">{{ form.app_volume_type.label }}</h6>
  {% for choice in form.app_volume_type %}
    {{ forms.single_radio(choice) }}
  {% endfor %}
</fieldset>
{% endif %}
{% if form.ldap_static_volume_id %}
  {{ forms.text(form.ldap_static_volume_id, true) }}
{% endif %}
{% if form.ldap_static_disk_uri %}
  {{ forms.text(form.ldap_static_disk_uri, true) }}
{% endif %}
{% if deployment_arch in ("eks", "gke", "aks") %}
  <fieldset id="ldapVolume" class="form-group collapse">
    <h6 class="border-bottom border-gray pb-2 mt-2">{{ form.ldap_jackrabbit_volume.label }}</h6>
    {% for choice in form.ldap_jackrabbit_volume %}
      {{ forms.single_radio(choice) }}
    {% endfor %}
  </fieldset>
{% endif %}

{{ forms.text(form.ldap_storage_size, hidden = True if persistence_backend == 'couchbase' else False) }}