{{ forms.radio(form.install_couchbase) }}
{% set hide_element = False if form.install_couchbase.data == 'Y' else True %}
{% if form.package_url %}
	{{ forms.text(form.package_url) }}
{% endif %}

{{ forms.fileinput(form.couchbase_crt) }}
{{ forms.radio(form.couchbase_cluster_file_override) }}
{{ forms.fileinput(form.couchbase_cluster_files, hidden=True) }}
{{ forms.radio(form.couchbase_use_low_resources) }}
{{ forms.text(form.couchbase_namespace) }}
{{ forms.text(form.couchbase_cluster_name) }}
{{ forms.text(form.couchbase_url) }}
{{ forms.text(form.couchbase_bucket_prefix) }}
{{ forms.text(form.couchbase_index_num_replica) }}
{{ forms.text(form.couchbase_superuser) }}
{{ forms.password(form.couchbase_superuser_password) }}
{{ forms.password(form.couchbase_superuser_password_confirmation) }}
{{ forms.text(form.couchbase_user) }}
{{ forms.password(form.couchbase_password) }}
{{ forms.password(form.couchbase_password_confirmation) }}
{{ forms.text(form.couchbase_cn) }}
