{{ forms.radio_toggle(form.install_gluu_gateway) }}

<div id="oxd-alert" class="alert alert-info collapse {{ 'show' if form.install_gluu_gateway.data == 'Y' else '' }}" role="alert">
  Info : Oxd server will be enabled.
</div>

<div id="postgresSetup" class="collapse {{ 'show' if form.install_gluu_gateway.data == 'Y' else '' }} border mb-3 px-3">
  <h3 class="pt-2 pb-0">Postgres Setup</h3>
  <hr>
  {{ forms.text(form.postgres.postgres_namespace) }}
  {{ forms.text(form.postgres.postgres_replicas) }}
  {{ forms.text(form.postgres.postgres_url) }}
</div>

<div id="gluuGatewaySetup" class="collapse {{ 'show' if form.install_gluu_gateway.data == 'Y' else '' }} border mb-3 px-3">
  <h3 class="pt-2 pb-0">Gluu Gateway Setup</h3>
  <hr>
  {{ forms.text(form.kong_namespace) }}
  {{ forms.text(form.gluu_gateway_ui_namespace) }}
  {{ forms.text(form.kong_database) }}
  {{ forms.text(form.kong_pg_user) }}
  {{ forms.password(form.kong_pg_password) }}
  {{ forms.password(form.kong_pg_password_confirm) }}
  {{ forms.text(form.gluu_gateway_ui_database) }}
  {{ forms.text(form.gluu_gateway_ui_pg_user) }}
  {{ forms.password(form.gluu_gateway_ui_pg_password) }}
  {{ forms.password(form.gluu_gateway_ui_pg_password_confirm) }}
</div>