{% extends 'base.html' %}
{% block content %}
  <div class="card border-0 shadow p-1 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="text-center">Gluu Cloud Native Edition</h3>
        {% if is_wizard %}
        <ul class="wizard wizard-steps-{{ total_steps }}">
          {% for k, wizard_step in wizard_steps.items() %}
            {% set step_status = 'active' if loop.index == current_step else ('complete' if loop.index < current_step else '') %}
            <li>
              <div class="step {{ step_status }}">
                <span data-toggle="tooltip" data-placement="top" title="{{ wizard_step['title'] }}">
                  {% if step_status %}
                    <a href="{{ url_for(wizard_step['endpoint']) }}"
                       class="text-decoration-none text-reset">{{ loop.index }}</a>
                  {% else %}
                    {{ loop.index }}
                  {% endif %}
                </span>
                <i>{{ wizard_step['title'] }}</i>
              </div>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
        <br>
        <form id="formInstaller" method="post" enctype="multipart/form-data" novalidate>
          {{ form.csrf_token }}
          {% include 'wizard/%s.html' % template %}
          {% if(prev_step) %}
            <a href="{{ url_for(prev_step) }}" class="btn btn-info">Prev</a>
          {% endif %}
          <div class="float-right">
            <button id="nextBtn" type="submit" class="btn btn-primary">
              <span id="spinner" class="spinner-border spinner-border-sm collapse" role="status" aria-hidden="true"></span>
              <span id="text">Next</span>
            </button>
            <button type="button" class="mx-2 btn btn-danger" data-toggle="modal" data-target="#quitModal">Quit</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="quitModal" tabindex="-1" role="dialog" aria-labelledby="quitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="{{ url_for('wizard.quit_settings') }}" method="post" novalidate>
              <div class="modal-header">
                <h5 class="modal-title" id="quitModalLabel">Are you absolutely sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <p>This action <strong>cannot</strong> be undone. you configuration settings will be removed.</p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="submit" name="quit_confirm" class="btn btn-secondary" value="yes">Yes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}

{% block custom_script %}
  <script>
    showHideOption = function(target, value){
      if(value == 'Y'){
        target.collapse('show');
       }else{
        target.collapse('hide');
       }
    }

    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();

      $("#show_hide_password a").on('click', function(event) {
        event.preventDefault();
        var input = $(this).parents('#show_hide_password').find('input'),
            btn = $(this).parents('#show_hide_password').find('a')

        if(input.attr("type") == "text"){
          input.attr('type', 'password');
          btn.html( "Show" );

        }else if(input.attr("type") == "password"){
          input.attr('type', 'text');
          btn.html( "Hide" );
        }
      });


      $('#formInstaller').submit(function(e){
        console.log('dasdasd')
        $('#nextBtn').find('#spinner').collapse('show');
        $('#nextBtn').attr('disabled', true);
        $('#nextBtn').find('#text').text('Please wait...');
        setTimeout( function () {
            $(this).submit();
        }, 1000);
        return true
      });

      $('.cron-input').on('click', function(){
        var $input = $(this).parents(".input-group").find('input');
        $input.val($(this).data('input'));
        $input.trigger('change');
      });

      $('#incr_backup_schedule').on("change keydown paste input", function(){
        var $formText = $(this).parents(".form-group").find(".form-text"),
            cronDescriptor = "";
         try{
            cronDescriptor = cronstrue.toString($(this).val());
         }catch(err){
            cronDescriptor = err
         }
        $formText.html(cronDescriptor)
      });

      $('#full_backup_schedule').on("change keydown paste input", function(){
        var $formText = $(this).parents(".form-group").find(".form-text"),
            cronDescriptor = "";
        try{
            cronDescriptor = cronstrue.toString($(this).val());
         }catch(err){
            cronDescriptor = err
         }
        $formText.html(cronDescriptor)
      });

      $('#ldap_backup_schedule').on("change keydown paste input", function(){
        var $formText = $(this).parents(".form-group").find(".form-text"),
            cronDescriptor = "";
        try{
            cronDescriptor = cronstrue.toString($(this).val());
         }catch(err){
            cronDescriptor = err
         }
        $formText.html(cronDescriptor)
      });

      {% if template == 'optional_services' %}
        /* function check casa option yes/no */
        casaOption = function(el){
          if(el.val() == "Y"){
            $('#enable_oxd-0').prop('checked', true).trigger('change');
            $('#enable_oxd-1').prop('disabled', true);
            $('#enable_oxd-0').parents('.radio-switch').addClass('disabled');
          }else{
            if($('#enable_oxd-0').val() == "N"){
              $('#enable_oxd-1').prop('checked', true).trigger('change');
            }
            $('#enable_oxd-0').parents('.radio-switch').removeClass('disabled');
            $('#enable_oxd-1').prop('disabled', false);
          }
        }
        /* load function on load */
        casaOption($('input[name="enable_casa"]:checked'));

        $('input[name="enable_oxauth_key_rotate"]').on('change', function(){
          showHideOption($('#oxauthKeyLife'), $(this).val());
        });

        $('input[name="enable_casa"]').on('change', function(){
          casaOption($(this));
        });

        $('input[name="enable_oxd"]').on('change', function(){
          showHideOption($('#oxdSetup'), $(this).val());
        });

        $('input[name="enable_oxtrust_api"]').on('change', function(){
          showHideOption($('#oxtrustTestMode'), $(this).val());

        });
      {% endif %}

      {% if template == "install_istio" %}
        $('input[name="use_istio"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('#istioNamespace').collapse('show');
           }else{
            $('#istioNamespace').collapse('hide');
           }
        });

        $('input[name="use_istio_ingress"]').on('change', function(){
          if($(this).val() == 'Y'){
           $('#istio_lb').collapse('show');
           $('#istio').collapse('hide');
           $('#use_istio-0').prop("checked", true).trigger("change");

          }else{
           $('#istio_lb').collapse('hide');
           $('#istio').collapse('show');
           $('#use_istio-1').prop("checked", true).trigger("change");
          }
        });
      {% endif %}


      {% if template == "install_jackrabbit" %}
        $('input[name="install_jackrabbit"').on('change', function(){
          if($(this).val() == 'Y'){
            $('#jackrabbitYesInstall').collapse('show');
             $('#jackrabbitNoInstall').collapse('hide');
           }else{
            $('#jackrabbitNoInstall').collapse('show');
            $('#jackrabbitYesInstall').collapse('hide');
           }
        });

        $('input[name="jackrabbit_cluster"').on('change', function(){
          if($(this).val() == 'Y'){
            $('#jackrabbitCluster').collapse('show');
           }else{
            $('#jackrabbitCluster').collapse('hide');
           }
        });

        $('input[name="postgres-install_postgres"').on('change', function(){
          if($(this).val() == 'Y'){
            $('#postgresInstall').collapse('show');
            $('#postgresNoInstall').collapse('hide');
           }else{
            $('#postgresInstall').collapse('hide');
            $('#postgresNoInstall').collapse('show');
           }
        });
      {% endif %}

      {% if template == "sql" %}
        $('input[name="install_sql"').on('change', function(){
          if($(this).val() == 'Y'){
            $('#sqlInstall').collapse('show');
             $('#sqlNoInstall').collapse('hide');
           }else{
            $('#sqlNoInstall').collapse('show');
            $('#sqlInstall').collapse('hide');
           }
        });
      {% endif %}

      {% if template == "google" %}
        $('input[name="google_secret_manager"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('#loadGoogleServiceAccount').collapse('show');
          }else{
            $('#loadGoogleServiceAccount').collapse('hide');
          }
        });
      {% endif %}

      {% if template == "config" %}
        $('input[name="migration_enabled"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('#migrationEnabled').collapse('show');
          }else{
            $('#migrationEnabled').collapse('hide');
          }
        });
      {% endif %}
      {% if template == "environment" %}
        $('input[name="test_environment"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('.alert').collapse('show');
          }else{
            $('.alert').collapse('hide');
          }
        });

        $('input[name="use_arn"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('input[name="arn_aws_iam"]').parents('.form-group').collapse("show");
          }else{
            $('input[name="arn_aws_iam"]').parents('.form-group').collapse("hide");
          }
        });
      {% endif %}

      {% if template == "persistence_backend" %}

        $('input[name="persistence_backend"]').on('change', function(){
          if($(this).val() == 'hybrid'){
            $('#hybridLdapHeldData').collapse('show');
          }else if($(this).val() == 'sql'){
            $('#sqlDialect').collapse('show');
          }else{
            $('#hybridLdapHeldData').collapse('hide');
            $('#sqlDialect').collapse('hide');
          }
        });

        $('input[name="use_arn"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('#arn_aws_iam').prop('disabled', false);
          }else{
            $('#arn_aws_iam').prop('disabled', true);
          }
        });

      {% endif %}

      {% if template == "app_volume_type" %}
        volumeShowHide = function(app_volume){
          if(app_volume == 8 || app_volume == 13){
            $('#ldap_static_volume_id').prop("disabled", false);
            $('#ldap_static_volume_id').parents('.form-group').collapse("show");
            $('#ldap_static_disk_uri').prop("disabled", true);
            $('#ldap_static_disk_uri').parents('.form-group').collapse("hide");
          }else if(app_volume == 18){
            $('#ldap_static_volume_id').prop("disabled", true);
            $('#ldap_static_volume_id').parents('.form-group').collapse("hide");
            $('#ldap_static_disk_uri').prop("disabled", false);
            $('#ldap_static_disk_uri').parents('.form-group').collapse("show");
          }else{
            $('#ldap_static_volume_id').prop("disabled", true);
            $('#ldap_static_volume_id').parents('.form-group').collapse("hide");
            $('#ldap_static_disk_uri').prop("disabled", true);
            $('#ldap_static_disk_uri').parents('.form-group').collapse("hide");
          }

          if([7, 12, 17].includes(parseInt(app_volume))){
            $("#ldapVolume").show()
          }else{
            $("#ldapVolume").hide()
          }
        }

        var app_volume = $('input[name="app_volume_type"]:checked').val()
        if(app_volume){
          volumeShowHide(app_volume)
        }

        $('input[name="app_volume_type"]').on('change', function(){
          var app_volume = $(this).val()
          volumeShowHide(app_volume)
        });
      {% endif %}

      {% if template == "cache_type" %}
        $('input[name="gluu_cache_type"]').on('change', function(){
          if($(this).val() == "REDIS"){
            $('#redisSetup').collapse('show');
          }else{
            $('#redisSetup').collapse('hide');
          }
        });

        $('input[name="redis-install_redis"]').on('change', function(){
          if($(this).val() == "N"){
            $('#redisPassword').collapse('show');
            var inputs = $('#redisPassword').find('input'),
                redisInstall = $('#redisInstall').find('input');

            inputs.each(function(k, el){
              $(el).prop("disabled", false);
            });

            redisInstall.each(function(k, el){
              $(el).prop("disabled", true);
            });
            $('#redisInstall').collapse('hide');
          }else{
            $('#redisPassword').collapse('hide');
            var inputs = $('#redisPassword').find('input'),
                redisInstall = $('#redisInstall').find('input');

            inputs.each(function(k, el){
              $(el).prop("disabled", true);
            });

            redisInstall.each(function(k, el){
              $(el).prop("disabled", false);
            });
            $('#redisInstall').collapse('show');
          }
        });
      {% endif %}

      {% if template == "couchbase" %}
         cbShowHide = function(val){

            if(val == "N"){
              $('#couchbase_crt').parents('.form-group').collapse('show');
              $('#package_url').parents('.form-group').collapse('hide');
            }else{
              $('#couchbase_crt').parents('.form-group').collapse('hide');
              $('#package_url').parents('.form-group').collapse('show');
            }
         }

         cbShowHide($('input[name="install_couchbase"]:checked').val())
         $('input[name="install_couchbase"]').on('change', function(){
            cbShowHide($(this).val());
         });

         $('input[name="couchbase_cluster_file_override"]').on('change', function(){
            if($(this).val() == "Y"){
              $('#couchbase_cluster_files').parents('.form-group').collapse('show');
            }else{
              $('#couchbase_cluster_files').parents('.form-group').collapse('hide');
            }
         });
      {% endif %}

      {% if template == "image_name_tag" %}
        $('input[name="edit_image_names_tags"]').on('change', function(){
          if($(this).val() == 'Y'){
            $('#nameTags').collapse('show');
          }else{
            $('#nameTags').collapse('hide');
          }
        });
      {% endif %}
    });


  </script>
{% endblock %}