{{ forms.radio_toggle(form.enable_cache_refresh) }}
{{ forms.radio_toggle(form.enable_oxauth_key_rotate) }}
<div id="oxauthKeyLife" class="collapse {{ 'show' if form.enable_oxauth_key_rotate.data == 'Y' else '' }}">
  {{ forms.text(form.oxauth_keys_life) }}
</div>

{{ forms.radio_toggle(form.enable_oxpassport) }}
{{ forms.radio_toggle(form.enable_oxshibboleth) }}
{{ forms.radio_toggle(form.enable_casa) }}
{{ forms.radio_toggle(form.enable_fido2) }}
{{ forms.radio_toggle(form.enable_scim) }}
{{ forms.radio_toggle(form.enable_oxd) }}
<div id="oxdSetup" class="collapse {{ 'show' if form.enable_oxd.data == 'Y' else '' }}">
  {{ forms.text(form.oxd_application_keystore_cn) }}
  {{ forms.text(form.oxd_admin_keystore_cn) }}
</div>
{{ forms.radio_toggle(form.enable_oxtrust_api) }}
<div id="oxtrustTestMode" class="collapse">
  {{ forms.radio_toggle(form.enable_oxtrust_test_mode) }}
</div>