{% import "forms.html" as forms %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %} - Gluu Cloud Native</title>
  </head>
  <body>
    
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <div class="container">
      <div class="py-5 text-center">
        <img class="mx-auto d-block" src="{{ url_for('static', filename='img/green-logo.svg') }}" alt="Gluu green logo">
      </div>
      {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cronstrue.min.js') }}" async></script>
    <script src="{{ url_for('static', filename='js/notify.min.js') }}" async></script>
    {% block custom_script %} {% endblock %}
  </body>
</html>
