{% macro text(field, hidden=False) %}
  {% set validation = "is-invalid" if field.errors else "" %}
  <div class="form-group {{ 'collapse' if hidden else '' }}">
    {{ field.label(class_="col-form-label") }}
    {{ field(class_="form-control col-sm-5 " + validation) }}
    <small class="form-text text-muted">{{ field.description |safe }}</small>
    <div class="feedback invalid-feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro radio(field) %}

  {% set validation = "is-invalid" if field.errors else "" %}

  <div class="form-group">
    <label class="col-form-label">{{ field.label }}</label>
    <div class="col-sm-9 {{ validation }}">
      {% for choice in field %}
      <div class="custom-control custom-radio custom-control-inline">
        {{ choice(class_="custom-control-input") }}
        {{ choice.label(class_="custom-control-label" ) }}
      </div>
      {% endfor %}

    </div>
    {% if field.description %}
      <small class="form-text text-muted">{{ field.description }}</small>
    {% endif %}
    <div class="feedback invalid-feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro single_radio(field) %}
<div class="form-check">
    {{ field(class_="form-check-input") }}
    {{ field.label(class_="form-check-label") }}
  </div>
{% endmacro %}

{% macro password(field) %}
  {% set validation = "is-invalid" if field.errors else "" %}
  <div class="form-group">
    {{ field.label(class_="col-form-label") }}
    <div class="input-group {{ validation }}" id="show_hide_password">
      {{ field(class_="form-control col-sm-5") }}
      <div class="input-group-append">
        <span class="input-group-text"><a href="#" style="text-decoration: none; color:unset;">Show</a></span>
      </div>
    </div>
    <small class="form-text text-muted">{{ field.description }}</small>
    <div class="feedback invalid-feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro email(field) %}
  {% set validation = "is-invalid" if field.errors else "" %}
  <div class="form-group">
    {{ field.label(class_="col-form-label") }}
    {{ field(class_="form-control col-sm-5 " + validation) }}
    <small class="form-text text-muted">{{ field.description }}</small>
    <div class="feedback invalid-feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro select(title, name, options) %}
<div class="form-group">
    <label class="col-form-label col-sm-3" for="{{ name.replace('_', '-') }}">{{ title }}</label>
    <div class="col-sm-5">
      <select class="custom-select">
        {% for k, v in options %}
          <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}

{% macro hidden(name, value) %}
  <input type="hidden" name="{{ name }}" value="{{ value }}" id="{{ name.replace('_', '-') }}">
{% endmacro %}

{% macro checkbox(field) %}
{% set validation = "is-invalid" if field.errors else "" %}
<div class="form-group">
  <div class="form-check">
      {{ field(class_="form-check-input " + validation) }}
      {{ field.label(class_="form-check-label") }}
      <div class="invalid-feedback">
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro fileinput(field, hidden=False) %}
{% set validation = "is-invalid" if field.errors else "" %}
<div class="form-group collapse {{ 'hide' if hidden else 'show' }}">
  <div class="custom-file col-sm-5">
    {{ field(class_="custom-file-input " + validation) }}
    {{ field.label(class_="custom-file-label") }}
    <div class="invalid-feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
    <small class="form-text text-muted">{{ field.description }}</small>
  </div>
</div>
{% endmacro %}


{% macro croninput(field) %}
  {% set validation = "is-invalid" if field.errors else "" %}
  <div class="form-group">
    {{ field.label(class_="col-form-label") }}
    <div class="input-group">
      {{ field(class_="form-control col-sm-5 " + validation) }}
      <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-secondary cron-input" data-input="*/30 * * * *" type="button">Every 30 mins</button>
        <button class="btn btn-outline-secondary cron-input" data-input="0 */1 * * *" type="button">Every Hour</button>
        <button class="btn btn-outline-secondary cron-input" data-input="0 */6 * * *" type="button">Every 6 hours</button>
        <button class="btn btn-outline-secondary cron-input" data-input="0 */12 * * *" type="button">Every 12 hours</button>
        <button class="btn btn-outline-secondary cron-input" data-input="0 0 */1 * *" type="button">Every day</button>
        <button class="btn btn-outline-secondary cron-input" data-input="0 0 * * 0" type="button">Once a week</button>
        <button class="btn btn-outline-secondary cron-input" data-input="0 0 1 */1 *" type="button">Every month</button>
      </div>
    </div>
    <small class="form-text text-muted">{{ field.description }}</small>
    <div class="feedback invalid-feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro switchbox(field) %}
  {% set validation = "is-invalid" if field.errors else "" %}
  <div class="form-group">
    <div class="custom-control custom-switch pull-right">
      {{ field.label(class_="custom-control-label") }}
      {{ field(class_="custom-control-input " + validation) }}

    </div>
  </div>
{% endmacro %}

{% macro radio_toggle(field) %}
  {% set validation = "is-invalid" if field.errors else "" %}

  <div class="form-group row {{ validation }}">
    <label class="col-sm-5 col-form-label">{{ field.label }}</label>
    <div class="col-sm-5 ">
      <ul class="radio-switch">
      {% for choice in field %}
        <li class="radio-switch__item">
          {{ choice(class_="radio-switch__input sr-only") }}
          {{ choice.label(class_="radio-switch__label" ) }}
          {% if loop.index == 2 %}
            <div aria-hidden="true" class="radio-switch__marker"></div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
    {% if field.description %}
      <small class="form-text text-muted">{{ field.description }}</small>
    {% endif %}
    <div class="feedback invalid-feedback">
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro radio_image(field) %}
  <div class="arch-selector">
    {% for choice in field %}
      {{ choice }}
      <label for="{{choice.id}}" class="arch-label {{ choice.data }}" data-toggle="tooltip" data-placement="bottom" title="{{ choice.label.text }}"></label>
    {% endfor %}
  </div>
{% endmacro %}

{% macro install_card(title, description, install_url, uninstall_target=None, notes=None, button_text="Install", notes_type="info", disabled=False) %}
  <div class="card shadow mb-4 bg-white rounded">
    <div class="card-body">
      {% if notes %}
          <div class="alert alert-{{ notes_type }}" role="alert">{{ notes }}</div>
      {% endif %}
      <h5 class="card-title text-primary">{{ title }}</h5>
        <p class="card-text">{{ description }}</p>
    </div>
    <div class="card-footer">
      <div class="float-right">
        {% if disabled %}
          <button class="btn btn-secondary" disabled> {{ button_text }} </button>
        {% else %}
        <a id="actionBtn" href="{{ install_url }}" class="btn btn-primary">{{ button_text }}</a>
        {% endif %}
        {% if uninstall_target %}
          <button type="button" class="mx-2 btn btn-danger float-right" data-toggle="modal" data-target="#uninstallModal" data-uninstall="{{ uninstall_target }}">Uninstall</button>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}