{% extends 'base.html' %}
{% block content %}
  <div class="card border-0 shadow p-1 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="text-center">Gluu Cloud Native Edition</h3>
      <ul class="nav nav-pills justify-content-center" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Install Gluu</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="components-tab" data-toggle="tab" href="#components" role="tab" aria-controls="components" aria-selected="false">Install Components</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="utilities-tab" data-toggle="tab" href="#utilities" role="tab" aria-controls="utilities" aria-selected="false">Utilities</a>
        </li>
      </ul>

      <div class="tab-content mt-3 pl-5 pr-5">
        <div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="home-tab">
          {{ forms.install_card(
                title="Helm Install",
                description="Install Gluu Cloud Native Edition using helm. This also installs the nginx-ingress chart",
                install_url=url_for('main.helm_install'),
                uninstall_target="helm-uninstall") }}
          {{ forms.install_card(
                title="Helm Install Gluu",
                description="Install Gluu Cloud Native Edition using helm. This assumes nginx-ingress is installed",
                install_url=url_for('main.helm_install_gluu'),
                uninstall_target="helm-uninstall-gluu") }}
        </div>
        <div class="tab-pane" id="components" role="tabpanel" aria-labelledby="components-tab">
          {{ forms.install_card(
                title="Install Couchbase",
                description="Install Couchbase only. Used with installation of Gluu with Helm",
                install_url=url_for('main.install_couchbase'),
                uninstall_target="uninstall-couchbase") }}
          {{ forms.install_card(
                title="Install Couchbase backup",
                description="Install Couchbase backup only.",
                install_url=url_for('main.install_couchbase_backup')) }}
        </div>
        <div class="tab-pane" id="utilities" role="tabpanel" aria-labelledby="utilities-tab">
          {{ forms.install_card(
                title="Generate settings",
                description="Generate new settings.json to install Gluu Cloud Native Edition non-interactively",
                install_url=url_for('main.generate_settings'),
                button_text="Run") }}
          {{ forms.install_card(
                title="Upgrade",
                description="Upgrade Gluu Cloud Native Edition",
                install_url=url_for('main.upgrade'),
                button_text="Not Available",
                disabled=True) }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="uninstallModal" tabindex="-1" role="dialog" aria-labelledby="uninstallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{{ url_for('main.uninstall') }}" method="post" novalidate>
          <div class="modal-header">
            <h5 class="modal-title" id="uninstallModalLabel">Are you absolutely sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input id="target" type="hidden" name="target">
            <p>This action <strong>cannot</strong> be undone. Gluu server will be uninstall</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            <button type="submit" name="uninstall_confirm" class="btn btn-secondary" value="Y">Yes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_script %}
  <script>
  $(document).ready(function () {
    $('#uninstallModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var uninstall = button.data('uninstall') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('#target').val(uninstall)
    });
  });
  </script>
{% endblock %}