{% extends 'base.html' %}
{% block content %}
  <div class="card border-0 shadow p-1 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="text-center">Gluu Cloud Native Edition</h3>
      <div class="d-flex align-items-center">
        <div>
          <span id="progress" class="spinner-grow spinner-grow-sm text-primary" role="status" aria-hidden="true"></span>
          <span id="install_status" class="font-weight-bold"></span>
        </div>
      </div>
      <p class="text-muted text-monospace m-3"><span id="output"></span></p>
      <ul id="install_logs" class="log-box"></ul>
    </div>
    <div id="footer" class="card-footer collapse text-center">
      <a href="{{ url_for('main.index') }}" class="btn btn-primary">Finish</a>
    </div>
  </div>
{% endblock %}

{% block custom_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
<script>
    const output = document.getElementById('output');
    const installStatus = document.getElementById('install_status');
    const progress = document.getElementById('progress');
    const installBtn = document.getElementById('installTrigger');
    const installLogs = document.getElementById('install_logs');
    const footer = document.getElementById('footer');

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/logs');

    window.addEventListener('load', (event) => {
      socket.emit('install')
    });

    socket.on('response', response => {
      if(response.status == 'COMPLETED'){
        install_status.innerHTML = 'Installation Completed';
        progress.classList.add('collapse');
        footer.classList.add('show');
        socket.emit('disconnect');
      }

      if(response.status == 'ERROR'){
        install_status.innerHTML = 'Installation Error';
        progress.classList.add('collapse');
        footer.classList.add('show');
        socket.emit('disconnect');
      }
      install_status.innerHTML = response.title;

      if(response.log.length > 0){
        output.innerHTML = response.log;
      }

      var line = document.createElement('li');
      installLogs.prepend(response.log, line);
    });

</script>
{% endblock %}