# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# -- CacheRefreshRotation is a special container to monitor cache refresh on oxTrust containers. This may be depreciated.
# -- Add custom normal and secret envs to the service
usrEnvs:
  # -- Add custom normal envs to the service
  # variable1: value1
  normal: {}
  # -- Add custom secret envs to the service
  # variable1: value1
  secret: {}
# -- Add custom dns policy
dnsPolicy: ""
# -- Add custom dns config
dnsConfig: {}
image:
  # -- Image pullPolicy to use for deploying.
  pullPolicy: IfNotPresent
  # -- Image  to use for deploying.
  repository: gluufederation/cr-rotate
  # -- Image  tag to use for deploying.
  tag: 4.5.4-1
  # -- Image Pull Secrets
  pullSecrets: [ ]
# -- Resource specs.
resources:
  limits:
    # -- CPU limit.
    cpu: 200m
    # -- Memory limit.
    memory: 200Mi
  requests:
    # -- CPU request.
    cpu: 200m
    # -- Memory request.
    memory: 200Mi
service:
  # -- Name of the cr-rotate service. Please keep it as default.
  crRotateServiceName: cr-rotate
  # -- Port of the casa service. Please keep it as default.
  port: 8084
  # -- The name of the cr-rotate port within the cr-rotate service. Please keep it as default.
  name: http-cr-rotate
  # -- Default set to None If you want to make sure that connections from a particular client are passed to the same Pod each time, you can select the session affinity based on the client's IP addresses by setting this to ClientIP
  sessionAffinity: None
  # -- the maximum session sticky time if sessionAffinity is ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
# -- Configure any additional volumes that need to be attached to the pod
volumes: []
# -- Configure any additional volumesMounts that need to be attached to the containers
volumeMounts: []
# Actions on lifecycle events such as postStart and preStop
# Example postStop: https://github.com/GluuFederation/cloud-native-edition/discussions/516
# Example postStart:
# lifecycle:
#   postStart:
#     exec:
#       command: ["sh", "-c", "mkdir /opt/gluu/jetty/oxauth/custom/static/stylesheet/"]
lifecycle: {}

nameOverride: ""
fullnameOverride: ""

# -- Additional labels that will be added across all resources definitions in the format of {mylabel: "myapp"}
additionalLabels: { }
# -- Additional annotations that will be added across all resources  in the format of {cert-manager.io/issuer: "letsencrypt-prod"}. key app is taken
additionalAnnotations: { }
# -- https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
tolerations: []
# -- https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
affinity: {}
nodeSelector: {}
