# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
kind: CronJob
apiVersion: batch/v1beta1
metadata:
  name: {{ include "oxauth-key-rotation.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "oxauth-key-rotation.name" . }}
    release: {{ .Release.Name }}
{{ include "oxauth-key-rotation.labels" . | indent 4 }}

spec:
  schedule: "0 */{{ .Values.keysLife }} * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
        {{- with .Values.image.pullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 8 }}
        {{- end }}
          dnsPolicy: {{ .Values.dnsPolicy | quote }}
        {{- with .Values.dnsConfig }}
          dnsConfig:
{{ toYaml . | indent 12 }}
        {{- end }}
          containers:
            - name: {{ include "oxauth-key-rotation.name" . }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              env:
                {{- include "oxauth-key-rotation.usr-envs" . | indent 16 }}
                {{- include "oxauth-key-rotation.usr-secret-envs" . | indent 16 }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              volumeMounts:
              {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 16 }}
              {{- end }}
              {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
                - name: cb-pass
                  mountPath: "/etc/gluu/conf/couchbase_password"
                  subPath: couchbase_password
                {{- if not .Values.global.istio.enabled }}
                - name: cb-crt
                  mountPath: "/etc/certs/couchbase.crt"
                  subPath: couchbase.crt
                {{- end }}
              {{- end }}
              envFrom:
                - configMapRef:
                    name: {{ .Release.Name }}-config-cm
                {{ if .Values.global.usrEnvs.secret }}
                - secretRef:
                    name: {{ .Release.Name }}-global-user-custom-envs
                {{- end }}
                {{ if .Values.global.usrEnvs.normal }}
                - configMapRef:
                    name: {{ .Release.Name }}-global-user-custom-envs
                {{- end }}
              {{- if or (eq .Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq .Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
              resources: {}
              {{- else if .Values.global.cloud.testEnviroment }}
              resources: {}
              {{- else }}
              resources:
{{- toYaml .Values.resources | nindent 16 }}
              {{- end }}
              {{- if .Values.global.istio.enabled }}
              command:
                - tini
                - -g
                - --
                - /bin/sh
                - -c
                - |
                  /app/scripts/entrypoint.sh patch oxauth --opts interval:{{ .Values.keysLife }}
                  curl -X POST http://localhost:15020/quitquitquit
              {{- else }}
              args: ["patch", "oxauth", "--opts", "interval:{{ .Values.keysLife }}"]
              {{- end }}
          volumes:
          {{- with .Values.volumes }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
            - name: cb-pass
              secret:
                secretName: {{ .Release.Name }}-cb-pass
            {{- if not .Values.global.istio.enabled }}
            - name: cb-crt
              secret:
                secretName: {{ .Release.Name }}-cb-crt
            {{- end }}
          {{- end }}
          restartPolicy: Never

