# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
kind: CronJob
apiVersion: batch/v1beta1
metadata:
  name: {{ include "oxauth-key-rotation.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "oxauth-key-rotation.name" . }}
    release: {{ .Release.Name }}
{{ include "oxauth-key-rotation.labels" . | indent 4 }}

spec:
  schedule: "0 */{{ .Values.keysLife }} * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: {{ .Chart.Name }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
              volumeMounts:
                - name: cb-pass
                  mountPath: "/etc/gluu/conf/couchbase_password"
                  subPath: couchbase_password
                - name: cb-crt
                  mountPath: "/etc/certs/couchbase.crt"
                  subPath: couchbase.crt
              {{- end }}
              envFrom:
                - configMapRef:
                    name: {{ .Release.Name }}-config-cm
              {{- if or (eq .Values.global.provisioner "microk8s.io/hostpath" ) (eq .Values.global.provisioner "k8s.io/minikube-hostpath") }}
              resources: {}
              {{- else if .Values.global.cloud.testEnviroment }}
              resources: {}
              {{- else }}
              resources:
{{- toYaml .Values.resources | nindent 16 }}
              {{- end }}
              {{- if .Values.global.istio.enabled }}
              command:
                - tini
                - -g
                - --
                - /bin/sh
                - -c
                - |
                  /app/scripts/entrypoint.sh patch oxauth --opts interval:{{ .Values.keysLife }}
                  curl -X POST http://localhost:15020/quitquitquit
              {{- else }}
              args: ["patch", "oxauth", "--opts", "interval:{{ .Values.keysLife }}"]
              {{- end }}
          {{- if or (eq .Values.global.gluuPersistenceType "couchbase") (eq .Values.global.gluuPersistenceType "hybrid") }}
          volumes:
            - name: cb-pass
              secret:
                secretName: {{ .Release.Name }}-cb-pass
            - name: cb-crt
              secret:
                secretName: {{ .Release.Name }}-cb-crt
          {{- end }}
          restartPolicy: Never

