# Default values for persistence.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: gluufederation/persistence
  tag: 4.0.1_05
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

configmap:
  #support for oxtrust API
  gluuOxtrustApiEnabled: false
  gluuOxtrustApiTestMode: false
  gluuCasaEnabled: true
  gluuPassportEnabled: true
  gluuRadiusEnabled: true
  gluuSamlEnabled: true  
