# License terms and conditions:
# https://www.gluu.org/license/enterprise-edition/
{{ if or ( eq .Values.global.gluuPersistenceType "couchbase" ) ( eq .Values.global.gluuPersistenceType "hybrid" ) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "oxshibboleth.name" . }}-pass
type: Opaque
data:
  couchbase_password: {{ .Values.global.gluuCouchbasePass | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "oxshibboleth.name" . }}-crt
type: Opaque
data:
  couchbase.crt: {{ .Values.global.gluuCouchbaseCrt }}

{{- end }}