# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# -- Shibboleth project for the Gluu Server's SAML IDP functionality.
# -- Configure the HorizontalPodAutoscaler
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  # -- metrics if targetCPUUtilizationPercentage is not set
  metrics: []
  # -- Scaling Policies
  behavior: {}
# -- Add custom normal and secret envs to the service
usrEnvs:
  # -- Add custom normal envs to the service
  # variable1: value1
  normal: {}
  # -- Add custom secret envs to the service
  # variable1: value1
  secret: {}
# -- Add custom dns policy
dnsPolicy: ""
# -- Add custom dns config
dnsConfig: {}
image:
  # -- Image pullPolicy to use for deploying.
  pullPolicy: IfNotPresent
  # -- Image  to use for deploying.
  repository: gluufederation/oxshibboleth
  # -- Image  tag to use for deploying.
  tag: 4.5.4-1
  # -- Image Pull Secrets
  pullSecrets: [ ]
# -- Service replica number.
replicas: 1
# -- Resource specs.
resources:
  limits:
    # -- CPU limit.
    cpu: 1000m
    # -- Memory limit.
    memory: 1000Mi
  requests:
    # -- CPU request.
    cpu: 1000m
    # -- Memory request.
    memory: 1000Mi
service:
  # -- The name of the oxPassport port within the oxPassport service. Please keep it as default.
  port: 8080
  targetPort: 8080
  # -- Name of the oxShibboleth service. Please keep it as default.
  oxShibbolethServiceName: oxshibboleth
  # -- Port of the oxShibboleth service. Please keep it as default.
  name: http-oxshib
  # -- Default set to None If you want to make sure that connections from a particular client are passed to the same Pod each time, you can select the session affinity based on the client's IP addresses by setting this to ClientIP
  sessionAffinity: None
  # -- the maximum session sticky time if sessionAffinity is ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  # -- Configure the liveness healthcheck for the oxshibboleth if needed.
  livenessProbe:
    # -- Executes the python3 healthcheck.
    # https://github.com/GluuFederation/docker-oxshibboleth/blob/4.5/scripts/healthcheck.py
    exec:
      command:
        - python3
        - /app/scripts/healthcheck.py
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 5
  # -- Configure the readiness healthcheck for the oxshibboleth if needed.
  # https://github.com/GluuFederation/docker-oxauth/blob/4.5/scripts/healthcheck.py
  readinessProbe:
    exec:
      command:
        - python3
        - /app/scripts/healthcheck.py
# -- Configure any additional volumes that need to be attached to the pod
volumes: []
# -- Configure any additional volumesMounts that need to be attached to the containers
volumeMounts: []
# Actions on lifecycle events such as postStart and preStop
# Example postStop: https://github.com/GluuFederation/cloud-native-edition/discussions/516
# Example postStart:
# lifecycle:
#   postStart:
#     exec:
#       command: ["sh", "-c", "mkdir /opt/gluu/jetty/oxauth/custom/static/stylesheet/"]
lifecycle: {}
nameOverride: ""
fullnameOverride: ""

nodeSelector: {}

tolerations: []

affinity: {}

# -- Additional labels that will be added across all resources definitions in the format of {mylabel: "myapp"}
additionalLabels: { }
# -- Additional annotations that will be added across all resources  in the format of {cert-manager.io/issuer: "letsencrypt-prod"}. key app is taken
additionalAnnotations: { }
# -- Add custom scripts that have been mounted to run before the entrypoint.
customScripts: []
