# License terms and conditions:
# https://www.gluu.org/license/enterprise-edition/
apiVersion: v1
kind: Service
metadata:
  name: {{ include "casa.name" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
{{ include "casa.labels" . | indent 4 }}
spec:
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "casa.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
