apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "radius.fullname" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ include "radius.name" . }}
    chart: {{ include "radius.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "radius.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "radius.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        {{- if and (and .Values.global.cloud.enabled (eq .Values.global.isDomainRegistered "false") ) (eq .Values.global.provisioner "kubernetes.io/aws-ebs") }}
        command:
          - /bin/sh
          - -c
          - |
              /usr/bin/python /scripts/updatelbip.py &
              /app/scripts/entrypoint.sh
        {{- end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
          - name: radius-auth
            containerPort: 1812
          - name: radius-ac
            containerPort: 1813
        envFrom:
          - configMapRef:
              name: {{ include "radius.fullname" . }}
        livenessProbe:
          exec:
            command:
            - cat
            - /tmp/gluu-radius-health
          initialDelaySeconds: 30
          periodSeconds: 30 
          failureThreshold: 20
        readinessProbe:
          exec:
            command:
            - cat
            - /etc/gluu-radius-health
          initialDelaySeconds: 25
          periodSeconds: 25
          failureThreshold: 20
      {{- if eq .Values.global.isDomainRegistered "false"}}
      hostAliases:
        - ip: {{ .Values.global.nginxIp }}
          hostnames:
            - {{ .Values.global.domain }} 
      {{- end }}

