# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
{{ if or ( eq .Values.global.gluuPersistenceType "couchbase" ) ( eq .Values.global.gluuPersistenceType "hybrid" ) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-pass
type: Opaque
data:
  couchbase_password: {{ .Values.global.gluuCouchbasePass | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-crt
type: Opaque
data:
  couchbase.crt: {{ .Values.global.gluuCouchbaseCrt }}

{{- end }}