# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "config.fullname" . }}-gen-json-file
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  generate.json: |-
    {
      "hostname": {{ .Values.global.fqdn | quote }},
      "country_code": {{ .Values.countryCode | quote }},
      "state": {{ .Values.state | quote }},
      "city": {{ .Values.city | quote }},
      "admin_pw": {{ .Values.adminPassword | quote }},
      "ldap_pw": {{ .Values.ldapPassword | quote }},
      "redis_pw": {{ .Values.redisPassword | quote }},
      "email": {{ .Values.email | quote }},
      "org_name": {{ .Values.orgName | quote }},
      "optional_scopes": [{{if .Values.global.opendj.enabled}}"ldap"{{end}}{{if .Values.global.fido2.enabled}},"fido2"{{end}}{{if .Values.global.scim.enabled}},"scim"{{end}}{{if index .Values "global" "client-api" "enabled"}},"client-api"{{end}}]
    }

{{ if eq .Values.global.cnPersistenceType "sql" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-sql-pass
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  sql_password: {{ .Values.configmap.cnSqldbUserPassword | b64enc }}
{{- end }}

{{ if or ( eq .Values.global.cnPersistenceType "couchbase" ) ( eq .Values.global.cnPersistenceType "hybrid" ) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-pass
type: Opaque
data:
  couchbase_password: {{ .Values.configmap.cnCouchbasePassword | b64enc }}

{{- if not .Values.global.istio.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cb-crt
type: Opaque
data:
  couchbase.crt: {{ .Values.configmap.cnCouchbaseCrt }}
{{- end }}
---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-superuser-cb-pass
type: Opaque
data:
  couchbase_superuser_password: {{ .Values.configmap.cnCouchbaseSuperUserPassword | b64enc }}
{{- end }}

{{ if eq .Values.global.configSecretAdapter "google" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-google-secret-manager-sa
type: Opaque
data:
  google-credentials.json: {{ .Values.configmap.cnGoogleSecretManagerServiceAccount }}
{{- end}}

{{ if .Values.global.cnObExtSigningJwksCrt }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ob-ext-signing-jwks-crt
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  ob-ext-signing.crt: {{ .Values.global.cnObExtSigningJwksCrt }}
{{- end }}
{{ if .Values.global.cnObExtSigningJwksKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ob-ext-signing-jwks-key
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  ob-ext-signing.key: {{ .Values.global.cnObExtSigningJwksKey }}
{{- end }}
{{ if .Values.global.cnObTransportCrt }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ob-transport-crt
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  ob-transport.crt: {{ .Values.global.cnObTransportCrt }}
{{- end }}
{{ if .Values.global.cnObTransportKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ob-transport-key
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  ob-transport.key: {{ .Values.global.cnObTransportKey }}
{{- end }}
{{ if .Values.global.cnObTrustStoreCrt }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ob-truststore-crt
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  ob-truststore.crt: {{ .Values.global.cnObTrustStoreCrt }}
{{- end }}
{{ if .Values.global.cnObTrustStoreKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ob-truststore-key
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  ob-truststore.key: {{ .Values.global.cnObTrustStoreKey }}
{{- end }}