@import (less) "/bootstrap.min.css";

/* global variables */
:root {
    --radio-switch-width: 70px;
    --radio-switch-height: 30px;
    --radio-switch-padding: 3px;
    --radio-switch-radius: 50em;
    --radio-switch-animation-duration: 0.3s;
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-primary: hsl(158, 97%, 34%);
    --color-primary-h: 220;
    --color-primary-s: 90%;
    --color-primary-l: 56%;
    --font-primary: sans-serif;
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --text-xs: calc(1em / var(--text-scale-ratio) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --color-white: hsl(0, 0%, 100%);
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --microk8s-logo: url('../img/microk8s.svg');
    --minikube-logo: url('../img/minikube.svg');
    --eks-logo: url('../img/amazon-eks.svg');
    --aks-logo: url('../img/azure-aks.svg');
    --gke-logo: url('../img/google-gke.svg');
    --digitalocean-logo: url('../img/digital-ocean.svg');
    --kubernetes-logo: url('../img/kubernetes.svg');
}

body {
      background-image:
      background: -moz-linear-gradient(90deg, rgba(3,169,109,1) 45%, rgba(9,61,86,1) 55%);
      background: -webkit-linear-gradient(90deg, rgba(3,169,109,1) 45%, rgba(9,61,86,1) 55%);
      background: linear-gradient(90deg, rgba(3,169,109,1) 0%, rgba(9,61,86,1) 0%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03a96d",endColorstr="#093d56",GradientType=1);
}
.card-header{
    background: -moz-linear-gradient(90deg, rgba(3,169,109,1) 45%, rgba(9,61,86,1) 55%);
    background: -webkit-linear-gradient(90deg, rgba(3,169,109,1) 45%, rgba(9,61,86,1) 55%);
    background: linear-gradient(90deg, rgba(3,169,109,1) 0%, rgba(9,61,86,1) 0%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03a96d",endColorstr="#093d56",GradientType=1);
    border-width: 0px;

}
.card-body {
      background-color: white;
}
/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
    color: #fff;
    background-color: #03a96d;
    border-color: #03a96d; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0a384e;
    border-color: #0a384e; /*set the color you want here*/
}

.text-primary {
    color: #03a96d !important;
}
/* This is the default state */
.custom-radio .custom-control-label::before {
    background-color: #0000;  /* orange */
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #03a96d;  /* green */
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
    border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #0000;
    background-color: #0a384e;
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #0000, 0 0 0 0.2rem rgba(9,61,86,1) 25%);
}
.mx-auto{
    width:30%;
}
h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Source Sans Pro;
}
img {
    padding-bottom: 40px;
}

/* wizard styles */
.wizard {
	 padding: 10px 0;
	 margin: 20px 0 0 0;
	 list-style: none;
	 width: 100%;
	 display: table;
	 position: relative;
	 z-index: 1;
}
.wizard > * {
    display: table-cell;
    text-align: center;
}
.wizard > * .step {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #bdc3c7;
    color: #fff;
    font-weight: 300;
    background: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
    box-sizing: content-box;
    font-size: 10px;
}
.wizard > * .step.complete {
    border-color: #1abc9c;
    background-color: #1abc9c;
    color: #1abc9c;
}
.wizard > * .step.active {
    border-color: #3498db;
    color: #fff;
    font-weight: 500;
    border-width: 2px;
    margin-top: -1px;
}
.wizard .step > i{
    display: none;
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;

}
.wizard > * .step.active > i {
    display: block;
    color: #3498db;
}
.wizard > * .step:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    z-index: -1;
    border: 10px solid #fff;
    top: -10px;
    left: -7px;
    box-sizing: content-box;
}
.wizard > * .step > * {
	line-height: 15px;
}
.wizard:after {
    content: " ";
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -2;
    top: 50%;
}
.wizard-steps-1 > * {
    width: 100%;
}
.wizard-steps-1:after {
    left: 50%;
    right: 50%;
}
.wizard-steps-2 > * {
    width: 50%;
}
.wizard-steps-2:after {
    left: 25%;
    right: 25%;
}
.wizard-steps-3 > * {
	width: 33.3333333333%;
}
.wizard-steps-3:after {
    left: 16.6666666667%;
    right: 16.6666666667%;
}
.wizard-steps-4 > * {
	width: 25%;
}
.wizard-steps-4:after {
	left: 12.5%;
	right: 12.5%;
}
.wizard-steps-5 > * {
	width: 20%;
}
.wizard-steps-5:after {
	left: 10%;
	right: 10%;
}
.wizard-steps-6 > * {
	width: 16.6666666667%;
}
.wizard-steps-6:after {
	left: 8.3333333333%;
	right: 8.3333333333%;
}
.wizard-steps-7 > * {
	width: 14.2857142857%;
}
.wizard-steps-7:after {
	left: 7.1428571429%;
	right: 7.1428571429%;
}
.wizard-steps-8 > * {
	width: 12.5%;
}
.wizard-steps-8:after {
	left: 6.25%;
	right: 6.25%;
}
.wizard-steps-9 > * {
	width: 11.1111111111%;
}
.wizard-steps-9:after {
    left: 5.5555555556%;
	right: 5.5555555556%;
}
.wizard-steps-10 > * {
	width: 10%;
}
.wizard-steps-10:after {
	left: 5%;
	right: 5%;
}
.wizard-steps-11 > * {
	width: 9.0909090909%;
}
.wizard-steps-11:after {
	left: 4.5454545455%;
	right: 4.5454545455%;
}
.wizard-steps-12 > * {
	width: 8.3333333333%;
}
.wizard-steps-12:after {
	left: 4.1666666667%;
	right: 4.1666666667%;
}
.wizard-steps-13 > * {
	width: 7.6923076923%;
}
.wizard-steps-13:after {
	left: 3.8461538462%;
	right: 3.8461538462%;
}
.wizard-steps-14 > * {
	width: 7.1428571429%;
}
.wizard-steps-14:after {
	left: 3.5714285714%;
	right: 3.5714285714%;
}
.wizard-steps-15 > * {
	width: 6.6666666667%;
}
.wizard-steps-15:after {
	left: 3.3333333333%;
	right: 3.3333333333%;
}
.wizard-steps-16 > * {
	width: 6.25%;
}
.wizard-steps-16:after {
	left: 3.125%;
	right: 3.125%;
}
.wizard-steps-17 > * {
	width: 5.8823529412%;
}
.wizard-steps-17:after {
    left: 2.9411764706%;
	right: 2.9411764706%;
}
.wizard-steps-18 > * {
	width: 5.5555555556%;
}
.wizard-steps-18:after {
	left: 2.7777777778%;
	right: 2.7777777778%;
}
.wizard-steps-19 > * {
	width: 5.2631578947%;
}
.wizard-steps-19:after {
	left: 2.6315789474%;
	right: 2.6315789474%;
}
.wizard-steps-20 > * {
	width: 5%;
}
.wizard-steps-20:after {
	left: 2.5%;
	right: 2.5%;
}

/* log box style */
.log-box {
    list-style: none;
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
}

/* radio button switch yes or no */
.radio-switch {
    position: relative;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 3px;
    padding: var(--radio-switch-padding);
    border-radius: 70em;
    border-radius: calc(var(--radio-switch-radius) * 1.4);
    border: 1px solid hsl(240, 1%, 83%);
    border: 1px solid var(--color-contrast-low);
}
.radio-switch:focus-within,
.radio-switch:active {
    box-shadow: 0 0 0 3px hsl(0, 0%, 95%);
    box-shadow: 0 0 0 3px var(--color-contrast-lower);
}
.radio-switch.disabled{
    background: var(--color-contrast-low);
}

.radio-switch__item {
    position: relative;
    display: inline-block;
    height: 40px;
    height: calc(var(--radio-switch-height) - 2 * var(--radio-switch-padding));
    width: 90px;
    width: calc(var(--radio-switch-width) * 0.5 - var(--radio-switch-padding));
}
.radio-switch__label {
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 50em;
    border-radius: var(--radio-switch-radius);
    line-height: 40px;
    line-height: calc(var(--radio-switch-height) - 2 * var(--radio-switch-padding));
    text-align: center;
    cursor: pointer;
    font-size: 0.83333em;
    font-size: var(--text-sm);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s;
    transition: all var(--radio-switch-animation-duration);
}
.radio-switch__input:checked ~ .radio-switch__label {
    color: hsl(0, 0%, 100%);
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.radio-switch__input:focus ~ .radio-switch__label {
    background-color: hsl(220, 90%, 33.6%);
    background-color: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 0.6));
}
.radio-switch__label :not(*):focus-within,
.radio-switch__input:focus ~ .radio-switch__label {
    background-color: transparent;
}
.radio-switch__marker {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    border-radius: 50em;
    border-radius: var(--radio-switch-radius);
    background-color: var(--color-primary);
    height: 40px;
    height: calc(var(--radio-switch-height) - 2 * var(--radio-switch-padding));
    width: 90px;
    width: calc(var(--radio-switch-width) * 0.5 - var(--radio-switch-padding));
    transition: -webkit-transform 0.3s;
    transition: -webkit-transform var(--radio-switch-animation-duration);
    transition: transform 0.3s;
    transition: transform var(--radio-switch-animation-duration);
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition: transform var(--radio-switch-animation-duration), -webkit-transform var(--radio-switch-animation-duration);
}
.radio-switch__input:checked ~ .radio-switch__marker {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

/* radio button masked with an image background */
.arch-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.microk8s{
    background-image: var(--microk8s-logo);
    background-position: center;
}
.minikube{
    background-image: var(--minikube-logo);
    background-position: center;
}
.eks{
    background-image: var(--eks-logo);
    background-position: center;
}
.gke{
    background-image: var(--gke-logo);
    background-position: center;
}
.aks{
    background-image: var(--aks-logo);
    background-position: center;
}
.do{
    background-image: var(--digitalocean-logo);
    background-position: center;
}
.local{
    background-image: var(--kubernetes-logo);
    background-position: center;
}
.arch-selector input:active +.arch-label{opacity: .9;}

.arch-selector input:checked +.arch-label{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.arch-label{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:140px;height:85px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.arch-label:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}