# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.oxPassportServiceName }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "oxpassport.labels" . | indent 4}}
spec:
  {{- if .Values.global.alb.ingress }}
  type: NodePort
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      name: {{ .Values.service.name }}
  selector:
    app: {{ include "oxpassport.name" . }}
    release: {{ .Release.Name }}
