# License terms and conditions:
# https://www.gluu.org/license/enterprise-edition/
apiVersion: v1
kind: Service
metadata:
  name: {{ include "oxpassport.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "oxpassport.labels" . | indent 4}}
spec:
  ports:
    - port: {{ .Values.service.port }}
      name: {{ .Values.service.name }}
  selector:
    app: {{ include "oxpassport.name" . }}
    release: {{ .Release.Name }}
