# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Service
metadata:
  name: {{ include "oxpassport.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "oxpassport.labels" . | indent 4}}
spec:
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "oxpassport.name" . }}
    release: {{ .Release.Name }}
