# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# -- Nginx ingress definitions chart
ingress:
  enabled: true
  path: /
  # -- Enable Admin UI endpoints /identity
  adminUiEnabled: true
  # -- Admin UI ingress resource labels. key app is taken.
  adminUiLabels: { }
  # -- Enable endpoint /.well-known/openid-configuration
  openidConfigEnabled: true
  # -- openid-configuration ingress resource labels. key app is taken
  openidConfigLabels: { }
  # -- Enable endpoint /.well-known/uma2-configuration
  uma2ConfigEnabled: true
  # -- uma 2 config ingress resource labels. key app is taken
  uma2ConfigLabels: { }
  # -- Enable endpoint /.well-known/webfinger
  webfingerEnabled: true
  # -- webfinger ingress resource labels. key app is taken
  webfingerLabels: { }
  # -- Enable endpoint /.well-known/simple-web-discovery
  webdiscoveryEnabled: true
  # -- webdiscovery ingress resource labels. key app is taken
  webdiscoveryLabels: { }
  # -- Enable endpoint /.well-known/scim-configuration
  scimConfigEnabled: false
  # -- webdiscovery ingress resource labels. key app is taken
  scimConfigLabels: { }
  # -- Enable SCIM endpoints /scim
  scimEnabled: false
  # -- scim config ingress resource labels. key app is taken
  scimLabels: { }
  # -- Enable endpoint /.well-known/fido-configuration
  u2fConfigEnabled: true
  # -- u2f config ingress resource labels. key app is taken
  u2fConfigLabels: { }
  # -- Enable endpoint /.well-known/fido2-configuration
  fido2ConfigEnabled: false
  # -- fido2 config ingress resource labels. key app is taken
  fido2ConfigLabels: { }
  # -- Enable Auth server endpoints /oxauth
  authServerEnabled: true
  # -- Auth server config ingress resource labels. key app is taken
  authServerLabels: { }
  # -- Enable casa endpoints /casa
  casaEnabled: true
  # -- Casa ingress resource labels. key app is taken
  casaLabels: { }
  # -- Enable passport and oxshibboleth endpoints /idp and /passport
  passportShibEnabled: false
  # -- passport and oxshibboleth ingress resource labels. key app is taken.
  passportShibLabels: { }
  # -- Additional labels that will be added across all ingress definitions in the format of {mylabel: "myapp"}
  additionalLabels: { }
  # -- Additional annotations that will be added across all ingress definitions in the format of {cert-manager.io/issuer: "letsencrypt-prod"}
  # Enable client certificate authentication
  # nginx-ingress.ingress.kubernetes.io/auth-tls-verify-client: "optional"
  # Create the secret containing the trusted ca certificates
  # nginx-ingress.ingress.kubernetes.io/auth-tls-secret: "gluu/tls-certificate"
  # Specify the verification depth in the client certificates chain
  # nginx-ingress.ingress.kubernetes.io/auth-tls-verify-depth: "1"
  # Specify if certificates are passed to upstream server
  # nginx-ingress.ingress.kubernetes.io/auth-tls-pass-certificate-to-upstream: "true"
  additionalAnnotations:
    # Required annotation below
    kubernetes.io/ingress.class: "nginx-ingress"
  hosts:
  - demoexample.gluu.org
  tls:
  - secretName: tls-certificate # DON'T change
    hosts:
    - demoexample.gluu.org
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080