apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ include "oxd-server.fullname" . }}
  labels:
    app: {{ include "oxd-server.name" . }}
    chart: {{ include "oxd-server.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "oxd-server.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "oxd-server.name" . }}
        release: {{ .Release.Name }}
    spec:
      volumes:
        - name: {{ include "oxd-server.name" . }}
          persistentVolumwGame:
            claimName: {{ include "oxd-server.fullname" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if and (and .Values.global.cloud.enabled (eq .Values.global.isDomainRegistered "false") ) (eq .Values.global.provisioner "kubernetes.io/aws-ebs") }}
          command:
            - /bin/sh
            - -c 
            - |
                /usr/bin/python /scripts/update-lb-ip.py &
                /app/scripts/entrypoint.sh
          {{- end }}
          ports:
            - containerPort: 8444
            - containerPort: 8443   
          envFrom:
            - configMapRef:
                name: {{ include "oxd-server.fullname" . }}
          volumeMounts:
            - name: oxd-keystore-file
              mountPath: /opt/oxd-server/conf/oxd-server.keystore    
              subPath: oxd-server.keystore
            {{- if and (and .Values.global.cloud.enabled (eq .Values.global.isDomainRegistered "false") ) (eq .Values.global.provisioner "kubernetes.io/aws-ebs") }}
            - name: {{ include "oxd-server.name" . }}-updatelbip
              mountPath: /scripts
            {{- end }}
      volumes:
        - name: oxd-keystore-file
          secret:
            secretName: {{ include "oxd-server.fullname" . }}
        {{- if and (and .Values.global.cloud.enabled (eq .Values.global.isDomainRegistered "false") ) (eq .Values.global.provisioner "kubernetes.io/aws-ebs") }}
        - name: {{ include "oxd-server.name" . }}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
        {{- end }}
      {{- if eq .Values.global.isDomainRegistered "false" }}
      hostAliases:
        - ip: {{ .Values.global.nginxIp }}
          hostnames:
            - {{ .Values.global.domain }}
      {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
