# License terms and conditions:
# https://www.gluu.org/license/enterprise-edition/
apiVersion: v1
kind: Service
metadata:
  name: oxpassport
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ include "oxpassport.name" . }}
    chart: {{ include "oxpassport.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "oxpassport.name" . }}
    release: {{ .Release.Name }}
