apiVersion: v1
kind: Service
metadata:
  name: {{ include "oxpassport.name" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
{{ include "oxpassport.labels" . | indent 4}}
spec:
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "oxpassport.name" . }}
    release: {{ .Release.Name }}
