# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: v1
kind: Service
metadata:
  name: opendj
spec:
  ports:
  - port: 1636
    name: tcp-ldaps
    targetPort: 1636
    protocol: TCP
  - port: 1389
    name: tcp-ldap
    targetPort: 1389
    protocol: TCP
  - port: 8989
    name: tcp-replication
    targetPort: 8989
    protocol: TCP
  - port: 4444
    name: tcp-admin
    targetPort: 4444
    protocol: TCP
  - port: 7946
    name: tcp-serf
    targetPort: 7946
    protocol: TCP
  - port: 7946
    name: udp-serf
    targetPort: 7946
    protocol: UDP
  clusterIP: None
  selector:
    app: opendj