# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0

# -- Cron job Schedule for backup
cnLdapSchedule: "*/59 * * * *"
# -- Whether to generate oxShibboleth configuration or not (default to true).
cnOxtrustConfigGeneration: true
# -- Specify cluster details if used to activate backup.
multiCluster:
  enabled: false
  serfAdvertiseAddrSuffix: "firstldap.gluu.org"
  ldapAdvertiseAdminPort: 30444
# -- Name of the OpenDJ service. Please keep it as default.
ldapServiceName: opendj
# -- LDAP admin password if OpennDJ is used for persistence.
ldapPass: P@assw0rd
# -- CronJobb concurrencyPolicy. Leave as default.
concurrencyPolicy: Forbid

# cnRedisEnabled will determin if CN_REDIS_URL and CN_REDIS_TYPE if they will be used.
cnRedisEnabled: false
# -- Turn off replication in LDAP server. This must be left as false.
cnLdapAutoReplicate: false
# -- Redis URL and port number <url>:<port>. Can be used when  `config.configmap.gluuCacheType` is set to `REDIS`.
cnRedisUrl: redis:6379
# -- Cache type. `NATIVE_PERSISTENCE`, `REDIS`. or `IN_MEMORY`. Defaults to `NATIVE_PERSISTENCE` .
cnCacheType: NATIVE_PERSISTENCE
# -- Redis service type. `STANDALONE` or `CLUSTER`. Can be used when  `config.configmap.gluuCacheType` is set to `REDIS`.
cnRedisType: STANDALONE
# -- The config backend adapter that will hold Gluu configuration layer. google|kubernetes
configAdapterName: kubernetes
# -- The config backend adapter that will hold Gluu secret layer. google|kubernetes
configSecretAdapter: kubernetes

cnOxtrustConfigGenerationRepl: false
nameOverride: ""
fullnameOverride: ""

restartPolicy: Never
image:
  repository: gluufederation/opendj
  tag: 5.0.0_dev
  pullPolicy: Always

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

# -- servicePorts values used in StatefulSet container
ports:
  ldaps:
    port: 1636
    targetPort: 1636
  ldap:
    port: 1389
    targetPort: 1389
  replication:
    port: 8989
    targetPort: 8989
  admin:
    port: 4444
    targetPort: 4444
# -- Add custom dns policy
dnsPolicy: ""
# -- Add custom dns config
dnsConfig: {}
