# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# opendj Environament Variables
# common ConfigMap values
cnLdapInit: true
cnOxtrustConfigGeneration: true
cnLdapSchedule: "*/59 * * * *"

ldapServiceName: opendj
multiCluster:
  enabled: false
  serfAdvertiseAddr: "firstldap.gluu.org"
  ldapAdvertiseAdminPort: 30444
ldapPass: P@assw0rd
concurrencyPolicy: Forbid

# cnRedisEnabled will determin if CN_REDIS_URL and CN_REDIS_TYPE if they will be used.
cnRedisEnabled: false
cnLdapAutoReplicate: false

cnRedisUrl: redis:6379
# options REDIS/NATIVE_PERSISTENCE
cnCacheType: NATIVE_PERSISTENCE
cnRedisType: STANDALONE

configAdapterName: kubernetes
configSecretAdapter: kubernetes

cnOxtrustConfigGenerationRepl: false

nameOverride: ""
fullnameOverride: ""

restartPolicy: Never
image:
  repository: gluufederation/opendj
  tag: 5.0.0_dev
  pullPolicy: Always

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

#servicePorts values used in StatefulSet container
ports:
  ldaps:
    port: 1636
    targetPort: 1636
  ldap:
    port: 1389
    targetPort: 1389
  replication:
    port: 8989
    targetPort: 8989
  admin:
    port: 4444
    targetPort: 4444
dnsPolicy: ""
dnsConfig: {}
