# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# -- Gluu release name where Gluu was installed
gluuReleaseName: gluu
# -- Cron job Schedule for backup
gluuLdapSchedule: "*/59 * * * *"
# -- Whether to generate oxShibboleth configuration or not (default to true).
gluuOxtrustConfigGeneration: true
# -- Specify cluster details if used to activate backup.
multiCluster:
  enabled: false
  ldapAdvertiseAdminPort: 30440
# -- Name of the OpenDJ service. Please keep it as default.
ldapServiceName: opendj
# -- LDAP admin password if OpennDJ is used for persistence.
ldapPass: P@assw0rd
# -- CronJobb concurrencyPolicy. Leave as default.
concurrencyPolicy: Forbid
# -- Turn off replication in LDAP server. This must be left as false.
gluuLdapAutoReplicate: false
# -- Redis URL and port number <url>:<port>. Can be used when  `config.configmap.gluuCacheType` is set to `REDIS`.
gluuRedisUrl: redis:6379
# -- Cache type. `NATIVE_PERSISTENCE`, `REDIS`. or `IN_MEMORY`. Defaults to `NATIVE_PERSISTENCE` .
gluuCacheType: NATIVE_PERSISTENCE
# -- Redis service type. `STANDALONE` or `CLUSTER`. Can be used when  `config.configmap.gluuCacheType` is set to `REDIS`.
gluuRedisType: STANDALONE
# -- The config backend adapter that will hold Gluu configuration layer. google|kubernetes
configAdapterName: kubernetes
# -- The config backend adapter that will hold Gluu secret layer. google|kubernetes
configSecretAdapter: kubernetes

nameOverride: ""
fullnameOverride: ""

restartPolicy: Never
image:
  repository: gluufederation/opendj
  tag: 4.3.0_b1
  pullPolicy: IfNotPresent

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

# -- servicePorts values used in StatefulSet container
ports:
  ldaps:
    port: 1636
    targetPort: 1636
  ldap:
    port: 1389
    targetPort: 1389
  replication:
    port: 8989
    targetPort: 8989
  admin:
    port: 4444
    targetPort: 4444
# -- Add custom dns policy
dnsPolicy: ""
# -- Add custom dns config
dnsConfig: {}
