name: Workflow Sync

on:
  push:
    branches:
      - master
      - main
      - 4.3
    paths:
      - ".github/**"
  workflow_dispatch:

jobs:
  All_Repos_Common_Workflows:
    runs-on: ubuntu-latest
    steps:
      - name: Fetching Local Repository
        uses: actions/checkout@master
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.MOAUTO_GPG_PRIVATE_KEY_PASSPHRASE }}
          git-user-signingkey: true
          git-commit-gpgsign: true

      #- name: Running General Workflow Sync
      #  env:
      #    REPOSITORIES: |
      #      GluuFederation/gluu-admin-ui
      #      GluuFederation/gluu-passport
      #      GluuFederation/casa
      #      GluuFederation/cloud-native-edition
      #      GluuFederation/docker-oxd
      #      GluuFederation/docker-radius
      #      GluuFederation/docker-cr-rotate
      #      GluuFederation/docker-fido2
      #      GluuFederation/docker-scim
      #      GluuFederation/docker-opendj
      #      GluuFederation/docker-oxshibboleth
      #      GluuFederation/docker-oxauth
      #      GluuFederation/docker-oxtrust
      #      GluuFederation/cluster-mgr
      #      GluuFederation/docker-persistence
      #      GluuFederation/pygluu-containerlib
      #      GluuFederation/docker-config-init
      #      GluuFederation/community-edition-setup
      #      GluuFederation/oxTrust
      #      GluuFederation/oxAuth
      ##      GluuFederation/docker-certmanager
       #     GluuFederation/docker-jackrabbit
       #     GluuFederation/gluu-passport-testing
       #     GluuFederation/openbanking
       #     GluuFederation/community-edition-containers
       #     GluuFederation/guru-app
       #     GluuFederation/docker-upgrade
       #     GluuFederation/gluu-admin-ui-api
       #     GluuFederation/oxtrust-api
       #     GluuFederation/scim
       #   WORKFLOW_FILES: |
       #     .github/workflows/commit-check.yml=.github/workflows/commit-check.yml
       #     .github/workflows/central_code_quality_check.yml=.github/workflows/central_code_quality_check.yml
       #   GITHUB_TOKEN: ${{ secrets.MOWORKFLOWTOKEN }}
       #   GPG_KEY_ID: ${{ steps.import_gpg.outputs.keyid }}
       #   PR_BRANCH_NAME: repo_sync
       # run: |
       #   echo
       #   wget https://raw.githubusercontent.com/mo-auto/scripts/main/org_workflows_sync.sh
       #   chmod u+x org_workflows_sync.sh
       #   bash org_workflows_sync.sh

      - name: Running Docker Workflow Sync
        env:
          REPOSITORIES: |
            GluuFederation/docker-oxauth
            GluuFederation/docker-oxtrust
            GluuFederation/docker-nginx
            GluuFederation/docker-config-init
            GluuFederation/docker-key-rotation
            GluuFederation/docker-oxshibboleth
            GluuFederation/docker-opendj
            GluuFederation/docker-oxPassport
            GluuFederation/docker-upgrade
            GluuFederation/docker-cr-rotate
            GluuFederation/docker-persistence
            GluuFederation/docker-oxd
            GluuFederation/docker-casa
            GluuFederation/docker-certmanager
            GluuFederation/docker-jackrabbit
            GluuFederation/docker-fido2
            GluuFederation/docker-scim
            GluuFederation/docker-cn
            GluuFederation/docker-gluu-admin-ui
          WORKFLOW_FILES: |
            .github/docker/central_docker_imagescan.yml=.github/workflows/imagescan.yml
            .github/docker/central_docker_release.yml=.github/workflows/release.yaml
            .github/docker/central_docker_triggerdevbuild.yml=.github/workflows/triggerdevbuild.yml
            .github/docker/central_docker_build_image.yml=.github/workflows/build_image.yml
            .github/docker/central_docker_dependabot.yml=.github/dependabot.yml
          GITHUB_TOKEN: ${{ secrets.MOWORKFLOWTOKEN }}
          GPG_KEY_ID: ${{ steps.import_gpg.outputs.keyid }}
          PR_BRANCH_NAME: docker_repo_sync
        run: |
          echo
          wget https://raw.githubusercontent.com/mo-auto/scripts/main/org_workflows_sync.sh
          chmod u+x org_workflows_sync.sh
          bash org_workflows_sync.sh
