on:
 push:
   branches:
     - 4.4
name: release-please
jobs:
 release-please:
   runs-on: ubuntu-latest
   steps:
     - uses: GoogleCloudPlatform/release-please-action@v3.1
       with:
         token: ${{ secrets.MOWORKFLOWTOKEN }}
         release-type: python

