# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "oxshibboleth.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: oxshibboleth
{{ include "oxshibboleth.labels" . | indent 4 }}
spec:
  serviceName: oxshibboleth
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ include "oxshibboleth.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        APP_NAME: oxshibboleth
        app: {{ include "oxshibboleth.name" . }}
        release: {{ .Release.Name }}
      {{- if .Values.global.istio.ingress }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
    spec:
      dnsPolicy: {{ .Values.dnsPolicy | quote }}
    {{- with .Values.dnsConfig }}
      dnsConfig:
{{ toYaml . | indent 8 }}
    {{- end }}
      containers:
      - name: {{ include "oxshibboleth.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        command:
          - /bin/sh
          - -c
          - |
              /usr/bin/python3 /scripts/updatelbip.py &
              /app/scripts/entrypoint.sh
        {{- end }}
        ports:
          - name: {{ .Values.service.name }}
            containerPort: {{ .Values.service.port }}
            protocol: TCP
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-config-cm
        volumeMounts:
          {{- with .Values.volumeMounts }}
{{- toYaml . | nindent 12 }}
          {{- end }}
          {{ if eq .Values.global.configSecretAdapter "google" }}
            - mountPath: {{ .Values.global.cnGoogleApplicationCredentials }}
              name: google-secret-manager-sa
              subPath: google-credentials.json
          {{- end }}
          {{- if eq .Values.global.cnPersistenceType "sql" }}
            - name: sql-pass
              mountPath: "/etc/jans/conf/sql_password"
              subPath: sql_password
          {{- end }}
          {{- if .Values.global.jackrabbit.enabled }}
            - name: cn-jackrabbit-admin-pass
              mountPath: /etc/gluu/conf/jackrabbit_admin_password
              subPath: jackrabbit_admin_password
          {{- end }}
          {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
            - name: {{ include "oxshibboleth.fullname" .}}-updatelbip
              mountPath: /scripts
          {{- end }}
          {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid") }}
            - name: cb-pass
              mountPath: "/etc/gluu/conf/couchbase_password"
              subPath: couchbase_password
            {{- if not .Values.global.istio.enabled }}
            - name: cb-crt
              mountPath: "/etc/certs/couchbase.crt"
              subPath: couchbase.crt
            {{- end }}
          {{- end }}
        livenessProbe:
{{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
{{- toYaml .Values.readinessProbe | nindent 10 }}
        {{- if or (eq .Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq .Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
        resources: {}
        {{- else if .Values.global.cloud.testEnviroment }}
        resources: {}
        {{- else }}
        resources:
{{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
      {{- if not .Values.global.isFqdnRegistered  }}
      hostAliases:
      - ip: {{ .Values.global.lbIp }}
        hostnames:
        - {{ .Values.global.fqdn }}
      {{- end }}
      volumes:
      {{- with .Values.volumes }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{ if eq .Values.global.configSecretAdapter "google" }}
        - name: google-secret-manager-sa
          secret:
            secretName: {{ .Release.Name }}-google-secret-manager-sa
      {{- end }}
      {{- if eq .Values.global.cnPersistenceType "sql" }}
        - name: sql-pass
          secret:
            secretName: {{ .Release.Name }}-sql-pass
      {{- end }}
      {{- if .Values.global.jackrabbit.enabled }}
        - name: cn-jackrabbit-admin-pass
          secret:
            secretName: cn-jackrabbit-admin-pass
      {{- end }}
      {{- if and (not .Values.global.isFqdnRegistered ) (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        - name: {{ include "oxshibboleth.fullname" .}}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
      {{- end }}
      {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid") }}
        - name: cb-pass
          secret:
            secretName: {{ .Release.Name }}-cb-pass
        {{- if not .Values.global.istio.enabled }}
        - name: cb-crt
          secret:
            secretName: {{ .Release.Name }}-cb-crt
        {{- end }}
      {{- end }}
