# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "oxshibboleth.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    APP_NAME: oxshibboleth
{{ include "oxshibboleth.labels" . | indent 4 }}
spec:
  serviceName: oxshibboleth
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ include "oxshibboleth.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        APP_NAME: oxshibboleth
        app: {{ include "oxshibboleth.name" . }}
        release: {{ .Release.Name }}
      {{- if .Values.global.istio.ingress }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
      {{- end }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if and (eq .Values.global.isFqdnRegistered "false") (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        command:
          - /bin/sh
          - -c
          - |
              /usr/bin/python3 /scripts/updatelbip.py &
              /app/scripts/entrypoint.sh
        {{- end }}
        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-config-cm
        volumeMounts:
          {{- if eq .Values.global.cnJackrabbitCluster "true" }}
            - name: cn-jackrabbit-admin-pass
              mountPath: /etc/gluu/conf/jackrabbit_admin_password
              subPath: jackrabbit_admin_password
          {{- end }}
          {{- if and (eq .Values.global.isFqdnRegistered "false") (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
            - name: {{ include "oxshibboleth.fullname" .}}-updatelbip
              mountPath: /scripts
          {{- end }}
          {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid") }}
            - name: cb-pass
              mountPath: "/etc/gluu/conf/couchbase_password"
              subPath: couchbase_password
            - name: cb-crt
              mountPath: "/etc/certs/couchbase.crt"
              subPath: couchbase.crt
          {{- end }}
        livenessProbe:
          httpGet:
            path: /idp
            port: http
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /idp
            port: http
          initialDelaySeconds: 25
          periodSeconds: 25
          timeoutSeconds: 5
        {{- if or (eq .Values.global.storageClass.provisioner "microk8s.io/hostpath" ) (eq .Values.global.storageClass.provisioner "k8s.io/minikube-hostpath") }}
        resources: {}
        {{- else if .Values.global.cloud.testEnviroment }}
        resources: {}
        {{- else }}
        resources:
{{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
      {{- if eq .Values.global.isFqdnRegistered "false" }}
      hostAliases:
      - ip: {{ .Values.global.lbIp }}
        hostnames:
        - {{ .Values.global.fqdn }}
      {{- end }}
      volumes:
      {{- if eq .Values.global.cnJackrabbitCluster "true" }}
        - name: cn-jackrabbit-admin-pass
          secret:
            secretName: cn-jackrabbit-admin-pass
      {{- end }}
      {{- if and (eq .Values.global.isFqdnRegistered "false") (or (eq .Values.global.storageClass.provisioner "kubernetes.io/aws-ebs") (eq .Values.global.storageClass.provisioner "openebs.io/local")) }}
        - name: {{ include "oxshibboleth.fullname" .}}-updatelbip
          configMap:
            name: {{ .Release.Name }}-updatelbip
      {{- end }}
      {{- if or (eq .Values.global.cnPersistenceType "couchbase") (eq .Values.global.cnPersistenceType "hybrid") }}
        - name: cb-pass
          secret:
            secretName: {{ .Release.Name }}-cb-pass
        - name: cb-crt
          secret:
            secretName: {{ .Release.Name }}-cb-crt
      {{- end }}
