# License terms and conditions for Gluu Cloud Native Edition:
# https://www.apache.org/licenses/LICENSE-2.0
# Default values for oxd-server.
replicaCount: 1

image:
  repository: gluufederation/oxd-server
  tag: 4.1.0_01
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

configmap:
  adminKeystorePassword: Passw0rd
  applicationKeystorePassword: Passw0rd

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
